Repository grafana/tempo, pull requests merged in 2022-11, with the labels that each got.

#1876 Remove Karen Miller as codeowner
  CODEOWNERS
Labels: type/docs

#1847 [DOC] Add ingestors block to tanka doc
  docs/tempo/website/setup/tanka.md
Labels: type/docs, backport release-v1.5

#1872 Add Generic Forwarding documentation
  docs/tempo/website/configuration/_index.md
  docs/tempo/website/operations/generic_forwarding.md
Labels: type/docs

#1859 [DOCS] Add intro to traces
  docs/tempo/website/_index.md
  docs/tempo/website/getting-started/_index.md
  docs/tempo/website/getting-started/assets/apm-overview.png
  docs/tempo/website/getting-started/assets/getting-started.png
  docs/tempo/website/getting-started/assets/grafana-query.png
  docs/tempo/website/getting-started/assets/log-search.png
  docs/tempo/website/getting-started/assets/tempo-ds.png
  docs/tempo/website/getting-started/assets/tempo-search.png
  docs/tempo/website/getting-started/assets/trace-explore-spans.png
  docs/tempo/website/getting-started/assets/trace_custom_metrics_dash.png
  docs/tempo/website/getting-started/assets/trace_exemplars.png
  docs/tempo/website/getting-started/assets/trace_sample.png
  docs/tempo/website/getting-started/assets/trace_search.png
  docs/tempo/website/getting-started/assets/trace_service_graph.png
  docs/tempo/website/getting-started/assets/trace_to_logs.png
  docs/tempo/website/getting-started/example-demo-app.md
  docs/tempo/website/getting-started/instrumentation.md
  docs/tempo/website/getting-started/tempo-in-grafana.md
  docs/tempo/website/getting-started/traces.md
Labels: type/docs, backport release-v1.5

#1915 [DOC] Fix broken image links
  docs/tempo/website/getting-started/_index.md
  docs/tempo/website/getting-started/traces.md
Labels: type/docs, backport release-v1.5

#1921 chore: correct link to image in readme
  README.md
Labels: backport release-v1.5, missing-labels
