Repository grafana/tempo, pull requests merged in 2023-11, with the labels that each got.

#3091 Set GRAFANA_VERSION used throughout shared lookups
  docs/sources/tempo/_index.md
  docs/sources/tempo/traceql/query-editor/traceql-editor.md
  docs/sources/tempo/traceql/query-editor/traceql-search.md
Labels: type/docs, backport release-v2.3

#3099 [DOC] Update instrumentation doc to focus on OTel
  docs/sources/tempo/getting-started/instrumentation.md
Labels: type/docs, backport release-v2.3

#3107 [DOC] Add blog link and videos to 2.3 release notes
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.3

#3106 [DOC] Update instrumentation and community pages
  docs/sources/tempo/community/_index.md
  docs/sources/tempo/getting-started/instrumentation.md
Labels: type/docs, backport release-v2.3

#3151 Fix malformed link in Tempo docs
  docs/sources/tempo/operations/architecture.md
Labels: type/docs, backport release-v2.3

#3164 [DOC] DRAFT Update the S3 config doc to add ListObjects
  docs/sources/tempo/configuration/azure.md
  docs/sources/tempo/configuration/s3.md
  docs/sources/tempo/release-notes/v2-3.md
Labels: type/docs, backport release-v2.3

#2942 Tag value search improvements
  go.mod
  integration/e2e/api_test.go
  integration/e2e/config-all-in-one-local.yaml
  integration/e2e/config-limits-query.yaml
  integration/e2e/config-limits.yaml
  integration/e2e/e2e_test.go
  modules/ingester/instance_search.go
  modules/ingester/instance_search_test.go
  pkg/parquetquery/predicates.go
  pkg/traceql/engine.go
  pkg/traceql/engine_test.go
  pkg/traceql/enum_attributes.go
  pkg/traceql/storage.go
  pkg/traceql/util.go
  pkg/util/distinct_value_collector.go
  tempodb/encoding/common/interfaces.go
  tempodb/encoding/v2/backend_block.go
  tempodb/encoding/v2/wal_block.go
  tempodb/encoding/vparquet/block.go
  tempodb/encoding/vparquet/wal_block.go
  tempodb/encoding/vparquet2/block.go
  tempodb/encoding/vparquet2/wal_block.go
  tempodb/encoding/vparquet3/block_autocomplete.go
  tempodb/encoding/vparquet3/block_autocomplete_test.go
  tempodb/encoding/vparquet3/block_search_tags_test.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_meta_test.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet3/wal_block.go
Labels: traceql, type/performance, area/query

#3135 Add some docs about deploy tempo Gateway and use it with Grafana
  docs/sources/tempo/operations/grafana_datasource.md
  docs/sources/tempo/operations/grafana_datasource_tempo.png
  docs/sources/tempo/operations/grafana_datasource_tempo_headers.png
Labels: type/docs, backport release-v2.3

#3186 Changelog - Release 2.3.1
  CHANGELOG.md
Labels: type/docs

#3188 [DOC] Add 2.3.1 releaes notes
  docs/sources/tempo/_index.md
  docs/sources/tempo/release-notes/v2-3.md
Labels: type/docs, backport release-v2.3
