Repository grafana/tempo, pull requests merged in 2023-10, with the labels that each got.

#2976 Fix alias and add comment explaining intended redirect
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
Labels: type/docs, backport release-v2.2

#2977 [DOC] Sync back website changes
  docs/tempo/website/_index.md
  docs/tempo/website/api_docs/_index.md
  docs/tempo/website/api_docs/pushing-spans-with-http.md
  docs/tempo/website/community/_index.md
  docs/tempo/website/configuration/_index.md
  docs/tempo/website/configuration/compression.md
  docs/tempo/website/configuration/gcs.md
  docs/tempo/website/configuration/manifest.md
  docs/tempo/website/configuration/multitenancy.md
  docs/tempo/website/configuration/polling.md
  docs/tempo/website/configuration/querying.md
  docs/tempo/website/configuration/s3.md
  docs/tempo/website/getting-started/_index.md
  docs/tempo/website/getting-started/example-demo-app.md
  docs/tempo/website/getting-started/instrumentation.md
  docs/tempo/website/getting-started/tempo-in-grafana.md
  docs/tempo/website/grafana-agent/_index.md
  docs/tempo/website/grafana-agent/automatic-logging.md
  docs/tempo/website/grafana-agent/span-metrics.md
  docs/tempo/website/grafana-agent/tail-based-sampling.md
  docs/tempo/website/operations/_index.md
  docs/tempo/website/operations/architecture.md
  docs/tempo/website/operations/caching.md
  docs/tempo/website/operations/consistent_hash_ring.md
  docs/tempo/website/operations/deployment.md
  docs/tempo/website/operations/ingester_pvcs.md
  docs/tempo/website/operations/monitoring.md
  docs/tempo/website/operations/polling.md
  docs/tempo/website/operations/tempo_cli.md
  docs/tempo/website/release-notes/_index.md
  docs/tempo/website/release-notes/v1-2.md
  docs/tempo/website/troubleshooting/_index.md
  docs/tempo/website/troubleshooting/agent.md
  docs/tempo/website/troubleshooting/bad-blocks.md
  docs/tempo/website/troubleshooting/max-trace-limit-reached.md
  docs/tempo/website/troubleshooting/too-many-jobs-in-queue.md
  docs/tempo/website/troubleshooting/unable-to-see-trace.md
Labels: type/docs

#2983 [DOC] Mapping "Tempo in Grafana" page structure to tabs found in Explore view
  docs/sources/tempo/getting-started/docker-example.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/traceql/assets/query-editor-auto-complete.png
  docs/sources/tempo/traceql/assets/query-editor-http-method.png
  docs/sources/tempo/traceql/assets/query-editor-results-span.png
  docs/sources/tempo/traceql/assets/screenshot-explore-traceql-search.png
Labels: type/docs

#3061 [DOC] Use glossary lookups instead of duplicating that information
  docs/make-docs
  docs/sources/tempo/traces.md
Labels: type/docs

#3067 [release-v2.2] Update Alpine Image to 3.18.x
  CHANGELOG.md
  cmd/tempo-cli/Dockerfile
  cmd/tempo-serverless/cloud-run/Dockerfile
  cmd/tempo-vulture/Dockerfile
  cmd/tempo/Dockerfile
  cmd/tempo/Dockerfile_debug
Labels: type/bug, backport

#3042 fix typo in doc
  docs/sources/tempo/setup/set-up-test-app.md
Labels: type/docs, backport release-v2.2

#3034 Document multi-tenancy with operator
  docs/sources/tempo/setup/operator/multitenancy.md
Labels: type/docs, backport release-v2.2

#3068 Update parquet-go dependency
  CHANGELOG.md
  cmd/tempo-serverless/cloud-run/go.mod
  cmd/tempo-serverless/cloud-run/go.sum
  cmd/tempo-serverless/lambda/go.mod
  cmd/tempo-serverless/lambda/go.sum
  go.mod
  go.sum
  vendor/github.com/parquet-go/parquet-go/README.md
  vendor/github.com/parquet-go/parquet-go/column.go
  vendor/github.com/parquet-go/parquet-go/merge.go
  vendor/github.com/parquet-go/parquet-go/node.go
  vendor/github.com/parquet-go/parquet-go/print.go
  vendor/github.com/parquet-go/parquet-go/schema.go
  vendor/github.com/parquet-go/parquet-go/writer.go
  vendor/modules.txt
Labels: type/bug, backport release-v2.3

#3076 [release-v2.3] Update parquet-go dependency
  CHANGELOG.md
  cmd/tempo-serverless/cloud-run/go.mod
  cmd/tempo-serverless/cloud-run/go.sum
  cmd/tempo-serverless/lambda/go.mod
  cmd/tempo-serverless/lambda/go.sum
  go.mod
  go.sum
  vendor/github.com/parquet-go/parquet-go/README.md
  vendor/github.com/parquet-go/parquet-go/column.go
  vendor/github.com/parquet-go/parquet-go/merge.go
  vendor/github.com/parquet-go/parquet-go/node.go
  vendor/github.com/parquet-go/parquet-go/print.go
  vendor/github.com/parquet-go/parquet-go/schema.go
  vendor/github.com/parquet-go/parquet-go/writer.go
  vendor/modules.txt
Labels: type/bug, backport

#3029 Improve Structural Operators Perf
  pkg/traceql/ast_execute.go
  pkg/traceql/ast_test.go
  pkg/traceql/storage.go
  pkg/traceqlmetrics/mocks.go
  tempodb/encoding/vparquet/block_traceql.go
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet2/combiner_test.go
  tempodb/encoding/vparquet2/nested_set_model.go
  tempodb/encoding/vparquet2/nested_set_model_test.go
  tempodb/encoding/vparquet2/schema_test.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet3/combiner_test.go
  tempodb/encoding/vparquet3/nested_set_model.go
  tempodb/encoding/vparquet3/nested_set_model_test.go
  tempodb/encoding/vparquet3/schema_test.go
  tempodb/tempodb_search_test.go
Labels: traceql, type/performance

#3088 [TraceQL] Reduce work performed for structural operators due to a bug
  CHANGELOG.md
  pkg/traceql/ast_execute.go
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql.go
Labels: traceql, type/performance, area/query

#3089 [DOC] Tempo 2.3 release notes
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.3

#3094 Fix hyphenation in not- structural operators
  docs/sources/tempo/release-notes/v2-3.md
Labels: type/docs, backport release-v2.3
