Repository grafana/tempo, pull requests merged in 2023-07, with the labels that each got.

#2626 [DOC] Fix missing image and formatting
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/docker-example.md
  docs/sources/tempo/operations/best-practices.md
Labels: type/docs

#2596 Migrate operator docs to Grafana
  docs/sources/tempo/setup/_index.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/operator/_index.md
  docs/sources/tempo/setup/operator/quickstart.md
Labels: type/docs

#2643 [DOC] Update page title for TraceQL
  docs/sources/tempo/traceql/_index.md
Labels: type/docs

#2590 [DOC] Updates from working session on Helm docs
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/tempo/setup/helm-chart.md
Labels: type/docs

#2691 Avoid panic in cachedWriter
  modules/overrides/userconfigurableapi/client.go
  pkg/cache/cache.go
  tempodb/backend/azure/azure.go
  tempodb/backend/cache/cache.go
  tempodb/backend/gcs/gcs.go
  tempodb/backend/local/local.go
  tempodb/backend/mocks.go
  tempodb/backend/raw.go
  tempodb/backend/s3/s3.go
Labels: backport-106

#2673 [DOC] Add best practices; fix alias
  docs/sources/tempo/operations/best-practices.md
  docs/sources/tempo/operations/troubleshooting/_index.md
  docs/sources/tempo/traces.md
Labels: type/docs, backport release-v2.1.1

#2664 [vParquet3] docs
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/operations/dedicated_columns.md
Labels: type/docs

#2708 Fix typo in `CONTRIBUTING.md`
  CONTRIBUTING.md
Labels: type/docs

#2696 [docs] update automatic-logging to include mention of TraceQL
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
Labels: type/docs

#2702 Add the `/api/status/buildinfo` endpoint
  CHANGELOG.md
  cmd/tempo/app/app.go
  docs/sources/tempo/api_docs/_index.md
  integration/e2e/e2e_test.go
Labels: enhancement, backend, go

#2628 [DOC] Update TraceQL query editor doc
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/traceql/query-editor.md
Labels: type/docs, backport release-v2.2

#2722 Queriers: Fix external search config when using RBAC with Google Cloud Run
  modules/querier/external/client.go
  modules/querier/external/token_provider.go
  modules/querier/querier.go
  modules/querier/querier_test.go
Labels: type/bug, backport release-v2.2

#2713 Fix comminity heading
  docs/sources/tempo/setup/operator/_index.md
Labels: type/docs, backport release-v2.2

#2689 Add operator minitor docs
  docs/sources/tempo/setup/operator/monitor.md
Labels: type/docs, backport release-v2.2

#2687 Add operator object storage docs
  docs/sources/tempo/setup/operator/object-storage.md
Labels: type/docs, backport release-v2.2, operator

#2729 Wipe nested set model fields
  tempodb/encoding/vparquet2/schema.go
  tempodb/encoding/vparquet3/schema.go
  tempodb/encoding/vparquet3/schema_test.go
Labels: type/bug, backport release-v2.2
