Repository grafana/tempo, pull requests merged in 2023-05, with the labels that each got.

#2409 [DOC] Fixed link in changelog for 2.1
  CHANGELOG.md
  docs/sources/tempo/release-notes/v2-1.md
Labels: type/docs, backport release-v2.1, backport release-v2.1.1

#1555 Add support for IPv6
  CHANGELOG.md
  cmd/tempo-serverless/cloud-run/go.mod
  cmd/tempo-serverless/cloud-run/go.sum
  cmd/tempo-serverless/lambda/go.mod
  cmd/tempo-serverless/lambda/go.sum
  docs/sources/tempo/configuration/ipv6.md
  go.mod
  go.sum
  modules/compactor/compactor_ring.go
  modules/compactor/config.go
  modules/generator/generator_ring.go
  operations/jsonnet/microservices/common.libsonnet
  pkg/cache/memcached_client.go
  pkg/util/net.go
  vendor/github.com/grafana/dskit/crypto/tls/tls.go
  vendor/github.com/grafana/dskit/grpcclient/grpcclient.go
  vendor/github.com/grafana/dskit/kv/etcd/mock.go
  vendor/github.com/grafana/dskit/kv/memberlist/tcp_transport.go
  vendor/github.com/grafana/dskit/limiter/rate_limiter.go
  vendor/github.com/grafana/dskit/loser/loser.go
  vendor/github.com/grafana/dskit/netutil/netutil.go
  vendor/github.com/grafana/dskit/ring/http.go
  vendor/github.com/grafana/dskit/ring/lifecycler.go
  vendor/github.com/grafana/dskit/ring/model.go
  vendor/github.com/grafana/dskit/ring/ring.go
  vendor/github.com/grafana/dskit/ring/util.go
  vendor/github.com/grafana/dskit/services/basic_service.go
  vendor/github.com/grafana/dskit/services/service.go
  vendor/github.com/grafana/dskit/tenant/resolver.go
  vendor/github.com/grafana/dskit/tenant/tenant.go
  vendor/github.com/grafana/gomemcache/memcache/memcache.go
  vendor/golang.org/x/exp/slices/slices.go
  vendor/golang.org/x/exp/slices/sort.go
  vendor/modules.txt
Labels: keepalive

#2434 [fix] docs: update admonitions for new syntax
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/tls.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/operations/troubleshooting/unable-to-see-trace.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/tanka.md
Labels: type/docs, backport release-v2.1

#2425 Docs: Update supported traceql aggregates
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.1

#2452 [DOC] Update query-editor.md
  docs/sources/tempo/traceql/query-editor.md
Labels: type/docs, backport release-v2.1

#2497 Update "use-environment-variables-in-the-configuration" section
  docs/sources/tempo/configuration/_index.md
Labels: type/docs

#2504 [DOC] [TraceQL] Remove early access message
  docs/sources/tempo/traceql/architecture.md
  docs/sources/tempo/traceql/query-editor.md
Labels: type/docs, backport release-v2.1

#2472 [DOC] Doc for sidecar proxies
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/sidecar-proxy.md
Labels: type/docs

#2511 Updated documentation for metrics_ingestion_time_range_slack
  docs/sources/tempo/configuration/_index.md
Labels: type/docs
