Repository grafana/tempo, pull requests merged in 2023-09, with the labels that each got.

#2886 [DOC] Fix typo in metrics-summary API
  docs/sources/tempo/api_docs/metrics-summary.md
Labels: type/docs, backport release-v2.2

#2893 vParquet3 documentation improvemens
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/dedicated_columns.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/tempo_cli.md
Labels: type/docs

#2894 Unescape (decode) tag names
  CHANGELOG.md
  pkg/api/search_tags.go
  pkg/api/search_tags_test.go
Labels: enhancement

#2889 Configure S3's credential chain based on config
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  tempodb/backend/s3/config.go
  tempodb/backend/s3/s3.go
Labels: type/bug

#2929 Add release notes for 2.2.3
  docs/sources/tempo/release-notes/v2-2.md
Labels: type/docs, backport release-v2.2

#2937 [DOC] Update Pushing spans HTTP doc
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
  docs/sources/tempo/getting-started/docker-example.md
Labels: type/docs, backport release-v2.2

#2949 [DOC] Fix broken links in doc for Tempo v1.2
  docs/Makefile
  docs/README.md
  docs/docs.mk
  docs/make-docs
  docs/tempo/website/api_docs/_index.md
  docs/tempo/website/configuration/_index.md
  docs/tempo/website/troubleshooting/unable-to-see-trace.md
  docs/variables.mk
Labels: type/docs

#2951 [DOC] Fix broken links v2.1
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/s3.md
  docs/sources/tempo/traceql/architecture.md
Labels: type/docs

#2950 [DOC] Fix broken link in TraceQL architecture
  docs/sources/traceql/architecture.md
Labels: type/docs

#2918 [DOC] Add subpages for query editor doc
  docs/make-docs
  docs/sources/tempo/traceql/query-editor.md
  docs/sources/tempo/traceql/query-editor/_index.md
  docs/sources/tempo/traceql/query-editor/traceql-editor.md
  docs/sources/tempo/traceql/query-editor/traceql-search.md
Labels: type/docs
