Repository grafana/tempo, pull requests merged in 2023-04, with the labels that each got.

#2300 Fixed for blog url 404
  docs/sources/tempo/grafana-agent/_index.md
Labels: Q1SE

#2340 Fix relref cross-repo links
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/querying.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/setup/helm-chart.md
Labels: type/docs

#2341 [DOC] Remove duplicate link from instrumentation
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/instrumentation.md
Labels: type/docs

#2342 docs: Add extra examples to the getting started guides.
  docs/sources/tempo/getting-started/docker-example.md
  docs/sources/tempo/getting-started/example-demo-app.md
  docs/sources/tempo/setup/_index.md
Labels: type/docs, Q1SE

#2359 [DOC] Fix broken links
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/operations/schema.md
Labels: type/docs

#2367 Update link to docs instead of outdated blog post
  docs/sources/tempo/getting-started/_index.md
Labels: Q1SE

#2371 Pin drone manifest plugin to 1.4.0
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: type/bug, backport release-v2.1

#2374 Update docker-example.md
  docs/sources/tempo/getting-started/docker-example.md
Labels: Q1SE

#2376 Update monitoring.md
  docs/sources/tempo/operations/monitoring.md
Labels: Q1SE

#2375 Update gcs.md
  docs/sources/tempo/configuration/gcs.md
Labels: Q1SE

#2350 Docs: document metrics_generator_forwarder_workers and _queue_size
  docs/sources/tempo/configuration/_index.md
Labels: type/docs, backport release-v2.1

#2406 [DOC] Release notes for 2.1.1
  docs/sources/tempo/release-notes/v2-1.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/assets/screenshot-explore-traceql-search.png
Labels: type/docs, backport release-v2.1
