Repository grafana/tempo, pull requests merged in 2023-08, with the labels that each got.

#2744 [DOC] Add metrics summary doc
  docs/sources/tempo/api_docs/metrics-summary.md
Labels: type/docs, backport release-v2.2

#2740 [DOC] Doc updates for 2.2 release
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/release-notes/v2-1.md
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/setup/linux.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.2

#2752 Fix missing character on upgrade.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs

#2758 [DOC] Add blog link to release notes
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.2

#2698 Add traceql support for `{.a != nil}`
  docs/sources/tempo/traceql/_index.md
  pkg/traceql/ast_conditions.go
  pkg/traceql/ast_execute_test.go
  pkg/traceql/ast_validate.go
  pkg/traceql/enum_statics.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet2/block_traceql_test.go
  tempodb/tempodb_search_test.go
Labels: traceql

#2789 Avoid using "b/c" in official documentation
  docs/sources/tempo/traceql/_index.md
Labels: type/docs

#2786 Fix panic in the metrics-generator when using multiple tenants with default overrides
  CHANGELOG.md
  modules/generator/instance.go
  modules/generator/instance_test.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
Labels: type/bug, backport release-v2.2

#2795 Revert "Remove tenant_header_key from config (#2414)"
  CHANGELOG.md
  cmd/tempo-query/tempo/config.go
  cmd/tempo-query/tempo/plugin.go
Labels: type/bug, backport release-v2.2

#2806 [release-v2.2] Fix panic in the metrics-generator when using multiple tenants with default overrides
  CHANGELOG.md
  modules/generator/instance.go
  modules/generator/instance_test.go
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
Labels: type/bug, backport

#2808 [release-v2.2] Avoid index errors for deleted tenants
  tempodb/backend/azure/azure.go
  tempodb/backend/gcs/gcs.go
  tempodb/backend/mocks.go
  tempodb/backend/raw.go
  tempodb/backend/raw_test.go
Labels: type/bug, backport

#2809 [release-v2.2] Revert "Remove tenant_header_key from config (#2414)"
  CHANGELOG.md
  cmd/tempo-query/tempo/config.go
  cmd/tempo-query/tempo/plugin.go
Labels: type/bug, backport

#2815 [DOC] Add service graph metrics queries
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/_index.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/metrics-generator/service_graphs/metrics-queries.md
  docs/sources/tempo/metrics-generator/service_graphs/screenshot-serv-graph-instant-query.png
  docs/sources/tempo/metrics-generator/service_graphs/screenshot-serv-graph-range-query.png
Labels: type/docs, backport release-v2.2

#2813 [DOC] 2.2.1 release notes draft
  docs/sources/tempo/release-notes/v2-2.md
Labels: type/docs, backport release-v2.2

#2787 Updated the tag values v2 docs
  docs/sources/tempo/api_docs/_index.md
Labels: type/docs, backport release-v2.2

#2823 [DOC] Fix Parquet doc link
  docs/sources/tempo/configuration/parquet.md
Labels: type/docs, backport release-v2.2

#2827 Add yaml file sample for Azure Storage
  docs/sources/tempo/configuration/azure.md
Labels: type/docs

#2839 Fix quotes
  docs/sources/tempo/traceql/_index.md
Labels: type/docs

#2828 Add tempo-cli command: convert parquet-2-to-3
  CHANGELOG.md
  cmd/tempo-cli/cmd-convert-parquet-2to3.go
  cmd/tempo-cli/main.go
  docs/sources/tempo/operations/tempo_cli.md
  tempodb/encoding/vparquet2/block_findtracebyid.go
  tempodb/encoding/vparquet2/block_findtracebyid_test.go
  tempodb/encoding/vparquet2/schema.go
  tempodb/encoding/vparquet2/schema_test.go
  tempodb/encoding/vparquet2/wal_block.go
Labels: type/docs

#2837 [DOC] Add live trace info
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/operations/architecture.md
  docs/sources/tempo/troubleshooting/max-trace-limit-reached.md
Labels: type/docs

#2852 [DOC] Fix broken link format in api docs
  docs/sources/tempo/api_docs/_index.md
Labels: type/docs, backport release-v2.2

#2863 [release-v2-2][DOC] Backport 2798 to release v2.2
  docs/sources/tempo/troubleshooting/_index.md
  docs/sources/tempo/troubleshooting/agent.md
  docs/sources/tempo/troubleshooting/bad-blocks.md
  docs/sources/tempo/troubleshooting/max-trace-limit-reached.md
  docs/sources/tempo/troubleshooting/metrics-generator.md
  docs/sources/tempo/troubleshooting/response-too-large.md
  docs/sources/tempo/troubleshooting/search-tag.md
  docs/sources/tempo/troubleshooting/too-many-jobs-in-queue.md
  docs/sources/tempo/troubleshooting/unable-to-see-trace.md
Labels: type/docs, backport

#2860 Remove Grafana Cloud from metrics-gen arch diagram
  docs/sources/tempo/metrics-generator/server-side-metrics-arch-overview.png
Labels: type/docs, backport release-v2.2

#2874 [DOC] Add 2.2.2 to release notes
  docs/sources/tempo/release-notes/v2-2.md
Labels: type/docs, backport release-v2.2

#2872 [DOC] Fix links in service graph docs
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
Labels: type/docs, backport release-v2.2
