Repository grafana/tempo, pull requests merged in 2023-06, with the labels that each got.

#2487 Fill parent ID column and nested set columns
  CHANGELOG.md
  pkg/util/traceid.go
  pkg/util/traceid_test.go
  tempodb/encoding/vparquet/combiner.go
  tempodb/encoding/vparquet2/combiner.go
  tempodb/encoding/vparquet2/combiner_test.go
  tempodb/encoding/vparquet2/nested_set_model.go
  tempodb/encoding/vparquet2/nested_set_model_test.go
  tempodb/encoding/vparquet2/schema.go
  tempodb/encoding/vparquet2/schema_test.go
Labels: enhancement

#2547 [DOCS] Add shared content for query editor
  docs/sources/tempo/traceql/query-editor.md
Labels: type/docs

#2558 [DOC] Fix broken link in schema
  docs/sources/tempo/operations/schema.md
Labels: type/docs, backport release-v2.1

#2563 [DOC] Update metrics generator doc and add best practices
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/metrics-generator/cardinality.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/operations/_index.md
  docs/sources/tempo/operations/best-practices.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.1

#2574 [DOC] Fix Tempo version in Linux doc
  docs/sources/tempo/setup/linux.md
Labels: type/docs, backport release-v2.1

#2569 [release-v2.1] [DOC] Update metrics generator doc and add best practices
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/metrics-generator/cardinality.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/operations/_index.md
  docs/sources/tempo/operations/best-practices.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traces.md
Labels: type/docs, backport

#2580 [DOC] Updates from backport 2563
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/operations/best-practices.md
  docs/sources/tempo/traces.md
Labels: type/docs
