Repository grafana/tempo, pull requests merged in 2024-09, with the labels that each got.

#4047 2.6 Changelog Prep
  CHANGELOG.md
Labels: type/docs

#4026 [DOC] Convert monitor, troubleshoot, set up test app to Alloy
  docs/sources/tempo/getting-started/example-demo-app.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
  docs/sources/tempo/setup/set-up-test-app.md
  docs/sources/tempo/troubleshooting/_index.md
  docs/sources/tempo/troubleshooting/agent.md
  docs/sources/tempo/troubleshooting/unable-to-see-trace.md
Labels: type/docs, backport release-v2.6

#4041 [DOC] TraceQL, metrics-gen, and overrides doc updates for 2.6
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6

#4048 [DOC] Release notes for 2.6
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.6

#4043 Use canonical centering an image example
  docs/sources/tempo/_index.md
Labels: type/docs, backport release-v2.6

#4054 [release-v2.6] [DOC] TraceQL, metrics-gen, and overrides doc updates for 2.6
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport

#4057 Add blog post links to rel notes
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6

#4058 readme: fix link to query editor example
  README.md
Labels: type/docs

#4065 feat: TraceQL metrics: max over time
  CHANGELOG.md
  docs/sources/tempo/traceql/metrics-queries.md
  pkg/traceql/ast.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/enum_aggregates.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/parse_test.go
Labels: type/docs, enhancement

#4045 docs: Getting started sandbox
  docs/sources/tempo/getting-started/docker-example.md
Labels: type/docs, backport release-v2.6

#4066 Update and remove old images in Linux set up doc
  docs/sources/tempo/setup/assets/setup-linux-node-graph.png
  docs/sources/tempo/setup/assets/setup-linux-run-query.png
  docs/sources/tempo/setup/linux.md
Labels: type/docs, backport release-v2.6

#4135 [DOC] Clarify Parquet requirements in 2.6
  .github/workflows/add-to-docs-project.yml
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.6
