Repository grafana/tempo, pull requests merged in 2024-06, with the labels that each got.

#3741 TraceQL link intrinsic link:traceID and link:spanID
  CHANGELOG.md
  pkg/traceql/ast.go
  pkg/traceql/engine.go
  pkg/traceql/enum_attributes.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/lexer_test.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet4/block_autocomplete.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_meta_test.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/encoding/vparquet4/wal_block.go
Labels: traceql

#3744 [DOC] Update Helm chart doc to 2.5
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/helm-charts/tempo-distributed/release-notes/_index.md
Labels: type/docs

#3753 Fixed copy-pasta error?
  docs/sources/tempo/metrics-generator/span_metrics.md
Labels: type/docs, backport release-v2.5

#3755 Fix span metrics info
  docs/sources/tempo/metrics-generator/span_metrics.md
Labels: type/docs, backport release-v2.5

#3762 [DOC] Add links to blog post for 2.5
  docs/sources/tempo/release-notes/v2-5.md
Labels: type/docs, backport release-v2.5

#3716 [DOC] User journeys through Tempo
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/introduction/glossary.md
  docs/sources/tempo/introduction/solutions-with-traces/_index.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/introduction/telemetry.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/traces.md
Labels: type/docs, backport release-v2.5

#3729 Remove `autocomplete_filtering_enabled` config flag
  CHANGELOG.md
  cmd/tempo/app/app.go
  cmd/tempo/app/config.go
  cmd/tempo/app/modules.go
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/setup/upgrade.md
  integration/e2e/api_test.go
  modules/ingester/config.go
  modules/ingester/ingester.go
  modules/ingester/instance.go
  modules/ingester/instance_search.go
  modules/ingester/instance_search_test.go
  modules/querier/config.go
  modules/querier/querier.go
Labels: type/docs

#3800 [DOC] Add timerange value for metrics
  docs/sources/tempo/operations/traceql-metrics.md
Labels: type/docs, backport release-v2.5

#3809 [DOC] Add examples for rootName
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.5

#3807 [DOC] Clarify local-block config
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/operations/traceql-metrics.md
Labels: type/docs, backport release-v2.5

#3816 [release-v2.5] [DOC] Add examples for rootName
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport

#3818 [DOC] Fix distributor.log_received_spans.enabled in unable-to-see-trace.md
  docs/sources/tempo/troubleshooting/unable-to-see-trace.md
Labels: type/docs, backport release-v2.5

#3821 [release-v2.5] [DOC] Clarify local-block config
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/operations/traceql-metrics.md
Labels: type/docs, backport
