Repository grafana/tempo, pull requests merged in 2024-11, with the labels that each got.

#4252 doc: correct traceQL metrics documentation
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport release-v2.6

#4265 Docs: fix trace:rootService example code
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6

#4017 docs: mark serverless as deprecated
  CHANGELOG.md
  cmd/tempo-serverless/readme.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/serverless_aws.md
  docs/sources/tempo/operations/serverless_gcp.md
Labels: type/docs

#4295 docs: Remove duplicated examples
  docs/sources/tempo/operations/traceql-metrics.md
Labels: type/docs, backport release-v2.6

#4316 [DOC] Add clarification for metrics summary and traceQL metrics
  docs/sources/tempo/api_docs/metrics-summary.md
Labels: type/docs, backport release-v2.6

#4324 [release-v2.6] [DOC] Add clarification for metrics summary and traceQL metrics
  docs/sources/tempo/api_docs/metrics-summary.md
Labels: type/docs, backport

#4328 Add doc about configuring TLS with Helm
  docs/sources/tempo/configuration/network/tls.md
Labels: type/docs

#4334 [DOC] Add TLS info to Helm chart doc
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
Labels: type/docs

#4344 Ingester memory improvements by adjusting prealloc
  CHANGELOG.md
  modules/distributor/distributor.go
  modules/ingester/ingester_test.go
  modules/ingester/instance.go
  modules/ingester/instance_test.go
  pkg/tempopb/pool/pool.go
  pkg/tempopb/pool/pool_test.go
  pkg/tempopb/prealloc.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
Labels: type/bug, backport r175

#4357 [r174] Ingester memory improvements by adjusting prealloc
  CHANGELOG.md
  modules/distributor/distributor.go
  modules/ingester/ingester_test.go
  modules/ingester/instance.go
  modules/ingester/instance_test.go
  pkg/tempopb/pool/pool.go
  pkg/tempopb/pool/pool_test.go
  pkg/tempopb/prealloc.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
Labels: type/bug, backport

#4351 Fix broken link in service-graphs docs
  docs/sources/tempo/configuration/grafana-alloy/service-graphs.md
Labels: type/bug, type/docs, backport release-v2.6

#4356 Fix minor typo in TraceQL docs
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6

#4370 [DOC] Update tempo-distributed helm chart doc
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/tempo/setup/helm-chart/_index.md
Labels: type/docs

#4388 [DOC] Fix links for mounting OSS content to GET
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
  docs/sources/tempo/traceql/metrics-queries/solve-problems-metrics-queries.md
  docs/sources/tempo/traceql/query-editor/_index.md
Labels: type/docs, backport release-v2.6

#4394 [release-v2.6] [DOC] Fix links for mounting OSS content to GET
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
  docs/sources/tempo/traceql/metrics-queries/solve-problems-metrics-queries.md
  docs/sources/tempo/traceql/query-editor/_index.md
Labels: type/docs, backport

#4397 Add query-frontend limit for max length of query expression
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  modules/frontend/config.go
  modules/frontend/frontend.go
  modules/frontend/pipeline/async_query_validator_middleware.go
  modules/frontend/pipeline/async_query_validator_middleware_test.go
  modules/frontend/search_handlers_test.go
Labels: enhancement, area/query, component/query-frontend
