Repository grafana/tempo, pull requests merged in 2024-07, with the labels that each got.

#3804 Add docs on building your own service graphs
  docs/sources/tempo/metrics-generator/service_graphs/custom-service-graph-var-datasource.png
  docs/sources/tempo/metrics-generator/service_graphs/custom-service-graph-var-service.png
  docs/sources/tempo/metrics-generator/service_graphs/custom-service-graph-with-query.png
  docs/sources/tempo/metrics-generator/service_graphs/custom-service-graphs.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/metrics-generator/service_graphs/metrics-queries.md
Labels: type/docs, backport release-v2.5

#3826 [DOC] Remove unused caches from example
  docs/sources/tempo/configuration/_index.md
Labels: type/docs, backport release-v2.5

#3834 Avoid allocations in ID conversions
  pkg/util/traceid.go
Labels: type/performance

#3847 Avoid panic by cheking whether entry is a span in batchCollector
  CHANGELOG.md
  tempodb/encoding/vparquet4/block_traceql.go
Labels: type/bug

#3843 [DOC] Update Tempo doc to Alloy
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/span-metrics.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/_index.md
  docs/sources/tempo/configuration/grafana-alloy/automatic-logging-example-query.png
  docs/sources/tempo/configuration/grafana-alloy/automatic-logging-example-results.png
  docs/sources/tempo/configuration/grafana-alloy/automatic-logging.md
  docs/sources/tempo/configuration/grafana-alloy/migrate-alloy.md
  docs/sources/tempo/configuration/grafana-alloy/service-graphs.md
  docs/sources/tempo/configuration/grafana-alloy/span-metrics.md
  docs/sources/tempo/configuration/grafana-alloy/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/tempo-auto-log.svg
  docs/sources/tempo/configuration/grafana-alloy/tempo-tail-based-sampling.svg
  docs/sources/tempo/configuration/use-trace-data.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/assets/getting-started.png
  docs/sources/tempo/getting-started/assets/tempo-get-started-overiew.svg
  docs/sources/tempo/troubleshooting/unable-to-see-trace.md
Labels: type/docs, backport release-v2.5

#3841 [DOC] Add syntax primer to docs
  docs/sources/tempo/traceql/architecture.md
  docs/sources/tempo/traceql/trace-structure.md
Labels: type/docs, backport release-v2.5

#3886 TraceQL Metrics: skip blocks with no overlap
  modules/frontend/metrics_query_range_sharder.go
Labels: type/bug, backport r157

#3643 [DOC] Adding missing `metric-generator` keys
  docs/sources/tempo/configuration/_index.md
Labels: type/docs, backport release-v2.5
