Repository grafana/tempo, pull requests merged in 2024-03, with the labels that each got.

#3447 Small fixes user-configurable overrides docs
  docs/sources/tempo/operations/user-configurable-overrides.md
Labels: type/docs, backport release-v2.4

#3450 [DOC] Remove OTEL doc links from Tempo
  docs/sources/tempo/getting-started/instrumentation.md
Labels: type/docs, backport release-v2.4

#3482 Doc update
  CONTRIBUTING.md
  docs/sources/tempo/getting-started/example-demo-app.md
Labels: type/docs

#3474 [DOC] Document Tempo Operator Monolithic mode
  docs/sources/tempo/setup/operator/monolithic.md
Labels: type/docs

#3473 [DOC] document Grafana data source setup using Grafana and Tempo operators
  docs/sources/tempo/setup/operator/grafana_datasource.md
  docs/sources/tempo/setup/operator/grafana_datasource_tempo.png
  docs/sources/tempo/setup/operator/grafana_datasource_tempo_headers.png
Labels: type/docs

#3502 [release-v2.4] Handle prefixes when listing blocks from S3 and GCS
  CHANGELOG.md
  integration/e2e/config-all-in-one-azurite.yaml
  integration/e2e/config-all-in-one-gcs.yaml
  integration/e2e/config-all-in-one-s3.yaml
  integration/e2e/e2e_test.go
  integration/e2e/overrides_test.go
  integration/poller/poller_test.go
  tempodb/backend/azure/azure_test.go
  tempodb/backend/gcs/gcs.go
  tempodb/backend/gcs/gcs_test.go
  tempodb/backend/s3/s3.go
  tempodb/backend/s3/s3_test.go
Labels: type/bug, backport

#3504 [DOC] Add 2.4.1 release notes
  docs/sources/tempo/release-notes/v2-4.md
Labels: type/docs

#3138 TraceQL Metrics design proposal
  docs/design-proposals/2023-11 TraceQL Metrics.md
Labels: keepalive
