Repository grafana/tempo, pull requests merged in 2024-10, with the labels that each got.

#4143 Fixed a small typo in Tempo set up documentation
  docs/sources/tempo/setup/_index.md
Labels: type/docs, backport release-v2.6

#4133 [docs] use proper default value for grpc server message size
  docs/sources/tempo/configuration/_index.md
Labels: type/docs

#4137 [DOC] Update metrics for Alloy troubleshooting doc
  docs/sources/tempo/troubleshooting/_index.md
  docs/sources/tempo/troubleshooting/alloy.md
Labels: type/docs, backport release-v2.6

#4151 [DOC] Update statement for metrics-generator for Cloud
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/service_graphs/_index.md
  docs/sources/tempo/metrics-generator/span_metrics.md
Labels: type/docs, backport release-v2.6

#4165 docs: Add EKS Pod Identity as supported
  docs/sources/tempo/configuration/hosted-storage/s3.md
Labels: type/docs, backport release-v2.6

#4183 [release-v2.6] tempo-query: separate tls settings for server and client
  CHANGELOG.md
  cmd/tempo-query/main.go
  cmd/tempo-query/tempo/config.go
Labels: type/bug, backport

#4178 tempo-query: register gRPC health server
  CHANGELOG.md
  cmd/tempo-query/main.go
Labels: type/bug, backport release-v2.6

#4184 [release-v2.6] fix: bring back content-type header
  modules/frontend/combiner/metrics_query_range.go
  modules/frontend/combiner/search.go
  modules/frontend/combiner/search_tag_values.go
  modules/frontend/combiner/search_tags.go
Labels: type/bug, backport

#4186 [release-v2.6] tempo-query: register gRPC health server
  CHANGELOG.md
  cmd/tempo-query/main.go
Labels: type/bug, backport

#4187 Changelog v2.6.1
  CHANGELOG.md
Labels: type/docs, backport release-v2.6

#4190 [release-v2.6] Changelog v2.6.1
  CHANGELOG.md
Labels: type/docs, backport

#4191 [DOC] Add 2.6.1 to release notes
  docs/sources/tempo/release-notes/v2-6.md
Labels: type/docs, backport release-v2.6

#4188 [DOC] Remove traceQLStreaming feature flag
  docs/sources/tempo/traceql/_index.md
  example/docker-compose/local/docker-compose.yaml
  example/docker-compose/local/readme.md
  example/docker-compose/multi-tenant/docker-compose.yaml
  example/docker-compose/multi-tenant/readme.md
  example/docker-compose/otel-collector-multitenant/docker-compose.yaml
  example/docker-compose/shared/grafana-datasources.yaml
Labels: type/docs

#4196 [release-v2.6] fix: create a GitHub token for the release process
  .drone/drone.jsonnet
  .drone/drone.yml
Labels: type/bug, backport

#4206 [DOC] Fix wrong date command in push HTTP API doc
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
Labels: type/docs, backport release-v2.6

#4193 [DOC] Add deprecation for metrics summary
  docs/sources/tempo/api_docs/metrics-summary.md
Labels: type/docs

#4215 [DOC] Add 2.6.1 breaking change to Upgrade page
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.6

#4223 [DOC] Update local-block processor config for 2.6 changes
  docs/sources/tempo/operations/traceql-metrics.md
Labels: type/docs, backport release-v2.6

#4234 Add sum() example to TraceQL docs
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6

#4233 Add flush_to_storage config doc
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/traceql/metrics-queries.md
Labels: type/docs, backport release-v2.6

#4204 fix: skip exemplars for instant queries
  CHANGELOG.md
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/traceql/metrics-queries.md
  integration/e2e/config-query-range.yaml
  modules/frontend/config.go
  modules/frontend/frontend.go
  modules/frontend/metrics_query_range_sharder.go
Labels: type/docs

#4250 [release-v2.6] [DOC] Update metrics query docs with examples, more details
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/traceql/metrics-queries.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
  docs/sources/tempo/traceql/metrics-queries/solve-problems-metrics-queries.md
Labels: type/docs, backport

#4073 feat: TraceQL metrics: average over time
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_average.go
  pkg/traceql/engine_metrics_compare.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/enum_aggregates.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
Labels: type/docs
