Repository grafana/tempo, pull requests merged in 2024-02, with the labels that each got.

#3347 [DOC] Update traces versus metrics and logs
  docs/sources/tempo/traces.md
Labels: type/docs

#3349 [DOC] Update README.md
  operations/tempo-mixin/README.md
Labels: type/docs

#3320 [DOC] Add documentation for prometheus metrics compatibility
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/operations/prometheus_datasource.md
Labels: type/docs

#3380 [DOC] Fix missing metrics vis screenshot
  docs/sources/tempo/operations/prometheus_datasource.md
Labels: type/docs

#3389 Fix typo in configuration comment
  docs/sources/tempo/setup/linux.md
Labels: type/docs, backport release-v2.1, backport release-v2.2, backport release-v2.3

#3391 [DOC] Fix minor errors in multi-tenancy doc
  docs/sources/tempo/operations/cross_tenant_query.md
  docs/sources/tempo/operations/multitenancy.md
Labels: type/docs

#3404 [DOC] Update Prometheus API doc
  docs/sources/tempo/operations/prometheus_datasource.md
Labels: type/docs

#3304 Improve frontend search context handling
  modules/frontend/searchsharding.go
  modules/querier/worker/frontend_processor.go
Labels: component/query-frontend

#3326 Improve query cancellation handling in tracebyidsharding
  modules/frontend/tracebyidsharding.go
  modules/frontend/tracebyidsharding_test.go
Labels: component/query-frontend

#3418 [DOC] Update TraceQL metrics docs for release
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/operations/prometheus_datasource.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs

#3421 [DOC] Release notes for 2.4
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs

#3374 Add documentation for user-configurable overrides module
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/operations/user-configurable-overrides-architecture.png
  docs/sources/tempo/operations/user-configurable-overrides.md
Labels: type/docs

#3430 [DOC] Updates to 2.4 rel notes
  docs/sources/tempo/release-notes/v2-4.md
Labels: type/docs, backport release-v2.4
