Repository grafana/tempo, pull requests merged in 2024-04, with the labels that each got.

#3511 Outdated documentation setting up a test app
  docs/sources/tempo/setup/set-up-test-app.md
Labels: type/docs, backport release-v2.4

#2265 Update docker image to run as non-root
  CHANGELOG.md
  cmd/tempo/Dockerfile
  integration/e2e/config-all-in-one-local.yaml
  integration/e2e/config-multi-tenant-local.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/common.libsonnet
  operations/jsonnet/microservices/ingester.libsonnet
Labels: keepalive

#3542 Fix a broken link in tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
Labels: type/docs, backport release-v2.4

#3540 [DOC] Tempo landing page for docs
  docs/sources/tempo/_index.md
  docs/sources/tempo/api_docs/_index.md
Labels: type/docs

#3535 [DOC] Update monitoring doc
  docs/sources/tempo/configuration/polling.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
  docs/sources/tempo/operations/monitoring.md
Labels: type/docs, backport release-v2.4

#3561 [DOC] Add note for Grafana Alloy
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
  docs/sources/tempo/setup/set-up-test-app.md
Labels: type/docs, backport release-v2.4

#3577 Replace ß with s
  docs/sources/tempo/_index.md
Labels: type/docs, backport release-v2.4

#3581 [release-v2.4] [DOC] Fix linter-related issues
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/hosted-storage/_index.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/network/_index.md
  docs/sources/tempo/configuration/network/ipv6.md
  docs/sources/tempo/configuration/network/sidecar-proxy.md
  docs/sources/tempo/configuration/network/tls.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/configuration/polling.md
  docs/sources/tempo/configuration/querying.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/instrumentation.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/active-series.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/enable-service-graphs.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/metrics-generator/span_metrics.md
  docs/sources/tempo/operations/cross_tenant_query.md
  docs/sources/tempo/operations/generic_forwarding.md
  docs/sources/tempo/operations/ingester_pvcs.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
  docs/sources/tempo/operations/multitenancy.md
  docs/sources/tempo/operations/tempo_cli.md.orig
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/operations/user-configurable-overrides.md
  docs/sources/tempo/release-notes/v1-2.md
  docs/sources/tempo/release-notes/v2-1.md
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/operator/multitenancy.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/troubleshooting/unable-to-see-trace.md
Labels: type/docs, backport

#3582 [DOC] Revised Tune search performance doc
  docs/sources/tempo/operations/backend_search.md
Labels: type/docs, backport release-v2.4

#3606 Remove incorrect query
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.4

#3624 Update set-up-monitoring.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
Labels: type/docs, backport release-v2.4

#3626 [DOC] Fix broken links and linter errors
  docs/sources/tempo/_index.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/setup/operator/monolithic.md
Labels: type/docs, backport release-v2.4

#3623 Update set-up-monitoring.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
Labels: type/docs, backport release-v2.4
