Repository grafana/tempo, pull requests merged in 2024-01, with the labels that each got.

#3271 [DOC] Move link for helm documentation
  docs/sources/tempo/setup/helm-chart.md
Labels: type/docs, backport release-v2.3

#3261 Docs: indent code block to allow proper list numbers
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
Labels: type/docs, backport release-v2.3

#3279 docs: Update docker-example.md
  docs/sources/tempo/getting-started/docker-example.md
Labels: type/docs

#3228 [DOC] Update Set up test app to use agent flow
  docs/sources/tempo/setup/set-up-test-app.md
Labels: type/docs, backport release-v2.3

#3244 Add /status/overrides/{tenant} endpoint
  CHANGELOG.md
  cmd/tempo-cli/cmd-migrate-overrides-config.go
  cmd/tempo/app/app.go
  cmd/tempo/app/modules.go
  docs/sources/tempo/api_docs/_index.md
  modules/compactor/compactor_test.go
  modules/distributor/distributor_test.go
  modules/distributor/forwarder_test.go
  modules/distributor/ingestion_rate_strategy_test.go
  modules/frontend/search_streaming_test.go
  modules/frontend/searchsharding_test.go
  modules/frontend/tracebyidsharding_test.go
  modules/ingester/ingester_test.go
  modules/ingester/instance_search_test.go
  modules/ingester/instance_test.go
  modules/overrides/interface.go
  modules/overrides/interface_test.go
  modules/overrides/overrides.go
  modules/overrides/runtime_config_overrides.go
  modules/overrides/runtime_config_overrides_test.go
  modules/overrides/user_configurable_overrides.go
  modules/overrides/user_configurable_overrides_test.go
  modules/overrides/userconfigurable/api/api_test.go
  modules/overrides/userconfigurable/api/limits_test.go
  modules/querier/querier_test.go
Labels: area/user-configurable overrides

#3312 [DOC] Prepare best practices doc for sharing
  docs/sources/tempo/operations/best-practices.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/shared/index.md
Labels: type/docs

#3313 [DOC] Clarify debug example readme
  example/docker-compose/debug/readme.md
Labels: type/docs

#3167 [DOC] Update Tail based sampling doc for Grafana Agent
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
Labels: type/docs, backport release-v2.3

#3330 [DOC] Add videos to docs
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/querying.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/traces.md
Labels: type/docs, backport release-v2.3

#3334 [release-v2.3] [DOC] Update Tail based sampling doc for Grafana Agent
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
Labels: type/docs, backport

#2933 Get tags and tag values from backend if start and end are provided
  cmd/tempo/app/modules.go
  docs/sources/tempo/api_docs/_index.md
  integration/e2e/api_test.go
  integration/e2e/config-all-in-one-local.yaml
  integration/e2e/e2e_test.go
  integration/util.go
  modules/frontend/frontend.go
  modules/frontend/frontend_test.go
  modules/frontend/searchsharding.go
  modules/frontend/searchsharding_test.go
  modules/frontend/tagsharding.go
  modules/frontend/tagsharding_handlers.go
  modules/frontend/tagsharding_handlers_test.go
  modules/frontend/tagsharding_test.go
  modules/ingester/instance_search.go
  modules/ingester/instance_search_test.go
  modules/querier/config.go
  modules/querier/http.go
  modules/querier/querier.go
  pkg/api/http.go
  pkg/api/search_tags.go
  pkg/httpclient/client.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  pkg/traceql/extractmatcher.go
  pkg/traceql/extractmatcher_test.go
  pkg/util/test/req.go
  tempodb/tempodb.go
  tempodb/tempodb_search_test.go
  tempodb/tempodb_test.go
  tempodb/wal/wal.go
Labels: type/docs, area/query, component/querier, component/query-frontend, size/L

#3333 [DOC][Release 2.3] Backport 3228 to release v2.3
  docs/sources/tempo/setup/set-up-test-app.md
Labels: type/docs, backport

#3236 Added Missing use_federated_token Parameter to Azure Storage Configuration Docs for Workload Identity
  docs/sources/tempo/configuration/azure.md
Labels: type/docs
