Repository grafana/tempo, pull requests merged in 2024-05, with the labels that each got.

#3668 Fix panic in SpanDeduper when traceID is empty slice
  CHANGELOG.md
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
Labels: type/bug, backport r148

#3671 [r147] Fix panic in SpanDeduper when traceID is empty slice
  CHANGELOG.md
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
Labels: type/bug, backport

#3674 Pin the goreleaser version for Go version support
  Makefile
  build/tools.mk
Labels: type/ci, backport release-v2.4

#3678 [DOC] Add 2.4.2 release notes
  docs/sources/tempo/release-notes/v2-4.md
Labels: type/docs, backport release-v2.4

#3684 Fixed multiple typos
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/tempo/setup/linux.md
  example/docker-compose/cross-cluster/tempo-distributed-a.yaml
  example/docker-compose/cross-cluster/tempo-distributed-b.yaml
  example/docker-compose/distributed/tempo-distributed.yaml
  example/docker-compose/multi-tenant/tempo.yaml
  example/docker-compose/scalable-single-binary/tempo-scalable-single-binary.yaml
  example/docker-compose/shared/tempo.yaml
  integration/e2e/backend/backend.go
  modules/frontend/search_sharder_test.go
  tempodb/backend/azure/azure_test.go
Labels: type/docs

#3631 Remove unnecessary vale exceptions
  docs/sources/tempo/configuration/grafana-agent/_index.md
Labels: type/docs

#3693 [DOC] Updates for caching doc and linting fixes
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs

#3658 [DOC] update links to tempo-operator API docs
  docs/sources/tempo/setup/operator/api-docs.md
Labels: type/docs, backport release-v2.4

#3688 Update backend_search.md
  docs/sources/tempo/operations/backend_search.md
Labels: type/docs, backport release-v2.4

#3706 Fix typos in CHANGELOG.md
  CHANGELOG.md
Labels: type/docs

#3708 TraceQL event intrinsic event:name
  CHANGELOG.md
  pkg/traceql/ast.go
  pkg/traceql/engine.go
  pkg/traceql/enum_attributes.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/lexer_test.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet4/block_autocomplete.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_meta_test.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/encoding/vparquet4/wal_block.go
Labels: traceql

#3638 Add toggle to inject the tenant ID to generated metrics
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  modules/generator/registry/config.go
  modules/generator/registry/registry.go
  modules/generator/registry/registry_test.go
Labels: type/docs, backport release-v2.5

#3725 Update CHANGELOG.md
  CHANGELOG.md
Labels: type/docs

#3733 [DOC] Draft release notes for 2.5
  docs/sources/tempo/release-notes/v2-5.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.5

#3736 [DOC] Remove blog link from 2.5 release notes
  docs/sources/tempo/release-notes/v2-5.md
  docs/sources/tempo/traceql/architecture.md
Labels: type/docs, backport release-v2.5

#3726 [DOC] Add missing doc for metrics
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/traceql/metrics-queries.md
Labels: type/docs, backport release-v2.5

#3739 [release-v2.5] [DOC] Remove blog link from 2.5 release notes
  docs/sources/tempo/traceql/architecture.md
Labels: type/docs, backport

#3743 update changelog for v2.5.0
  CHANGELOG.md
Labels: type/docs, backport release-v2.5
