Repository grafana/tempo, pull requests merged in 2024-12, with the labels that each got.

#4377 docs: Added explore Traces plugin to Tempo Quick start tutorial
  docs/sources/tempo/getting-started/docker-example.md
  example/docker-compose/local/docker-compose.yaml
  example/docker-compose/local/tempo.yaml
Labels: type/docs, backport release-v2.6

#4320 feat: limit tags and tag values search
  CHANGELOG.md
  docs/sources/tempo/api_docs/_index.md
  integration/e2e/multi_tenant_test.go
  modules/frontend/combiner/search_tag_values.go
  modules/frontend/combiner/search_tags.go
  modules/frontend/combiner/search_tags_test.go
  modules/frontend/search_sharder_test.go
  modules/frontend/tag_handlers.go
  modules/frontend/tag_handlers_test.go
  modules/ingester/ingester_search.go
  modules/ingester/instance_search.go
  modules/ingester/instance_search_test.go
  modules/querier/querier.go
  pkg/collector/distinct_string_collector.go
  pkg/collector/distinct_string_collector_test.go
  pkg/collector/distinct_value_collector.go
  pkg/collector/distinct_value_collector_test.go
  pkg/collector/scoped_distinct_string.go
  pkg/collector/scoped_distinct_string_test.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  pkg/traceql/engine_test.go
  tempodb/compactor_test.go
  tempodb/encoding/vparquet2/block_search_tags_test.go
  tempodb/encoding/vparquet3/block_autocomplete_test.go
  tempodb/encoding/vparquet3/block_search_tags_test.go
  tempodb/encoding/vparquet4/block_autocomplete_test.go
  tempodb/encoding/vparquet4/block_search_tags_test.go
  tempodb/tempodb.go
  tempodb/tempodb_search_test.go
Labels: type/docs, enhancement

#4414 [DOC] Add tail-based sampling doc
  docs/sources/tempo/configuration/grafana-alloy/tail-based-sampling.md
Labels: type/docs, backport release-v2.6

#4415 [DOC] Add overrides info to tempo-distributed doc
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
Labels: type/docs, operations/helm

#4421 [DOC] Add doc updates for query frontend and limits per spanset
  docs/sources/tempo/configuration/_index.md
Labels: type/docs

#4435 [release-v2.6] [DOC] Updated examples for filtered tag values
  docs/sources/tempo/api_docs/_index.md
Labels: type/docs, backport

#4458 Fix comment in manifest doc
  docs/sources/tempo/configuration/manifest.md
  pkg/docsgen/generate_manifest.go
Labels: type/bug, type/docs
