Repository grafana/tempo, pull requests merged in 2024-08, with the labels that each got.

#3647 Implement polling tenants concurrently
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  integration/poller/poller_test.go
  modules/storage/config.go
  tempodb/blocklist/poller.go
  tempodb/blocklist/poller_test.go
  tempodb/config.go
  tempodb/tempodb.go
Labels: keepalive

#3929 Add docs for native histograms in the generator
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/metrics-generator/_index.md
Labels: type/docs

#3953 [DOC] Fix broken link in tracing best practices
  docs/sources/tempo/shared/best-practices-traces.md
Labels: type/docs, backport release-v2.5

#3969 [r160] Clone the diff in GRPC streaming to prevent panics
  CHANGELOG.md
  modules/frontend/combiner/common.go
Labels: type/bug, backport

#3970 [r161] Clone the diff in GRPC streaming to prevent panics
  CHANGELOG.md
  modules/frontend/combiner/common.go
Labels: type/bug, backport

#3967 [TraceQL] Add support for querying by instrumentation scope
  CHANGELOG.md
  docs/sources/tempo/traceql/_index.md
  integration/e2e/api_test.go
  integration/e2e/multi_tenant_test.go
  modules/ingester/instance_search_test.go
  pkg/search/util.go
  pkg/traceql/enum_attributes.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/lexer_test.go
  pkg/traceql/parse.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet4/block_autocomplete.go
  tempodb/encoding/vparquet4/block_autocomplete_test.go
  tempodb/encoding/vparquet4/block_search_tags.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_meta_test.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/tempodb_search_test.go
Labels: type/docs

#3977 Add doc about long-running traces
  docs/sources/tempo/troubleshooting/_index.md
  docs/sources/tempo/troubleshooting/long-running-traces.md
Labels: type/docs

#3964 add a LogDiscardedSpansConfig to the distributor to log discarded spa…
  CHANGELOG.md
  cmd/tempo/app/config.go
  cmd/tempo/app/config_test.go
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/troubleshooting/max-trace-limit-reached.md
  example/helm/microservices-tempo-values.yaml
  integration/e2e/deployments/config-all-in-one-local.yaml
  modules/distributor/config.go
  modules/distributor/distributor.go
  modules/distributor/distributor_test.go
Labels: type/docs

#3956 doc: broken links in config overrides
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/operations/user-configurable-overrides.md
Labels: type/docs, backport release-v2.5

#4004 [DOC]: add queriers to the list of users of the metrics-generator ring
  docs/sources/tempo/operations/consistent_hash_ring.md
Labels: type/docs, backport

#4010 [release-v2.6] [TraceQL Metrics] Remove all obsolete settings and code for RF3 metrics
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  integration/e2e/config-query-range.yaml
  modules/frontend/combiner/metrics_query_range.go
  modules/frontend/config.go
  modules/frontend/metrics_query_range_handler_test.go
  modules/frontend/metrics_query_range_sharder.go
  modules/frontend/search_handlers_test.go
  modules/generator/processor/localblocks/query_range.go
  modules/querier/http.go
  modules/querier/querier_query_range.go
  pkg/api/http.go
  pkg/api/http_test.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/enum_hints.go
  pkg/traceql/storage.go
  pkg/util/traceidboundary/traceidboundary.go
  pkg/util/traceidboundary/traceidboundary_test.go
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Labels: type/bug, backport

#4015 [DOC] Correct Jaeger spelling mistake
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
  docs/sources/tempo/getting-started/instrumentation.md
Labels: type/docs, backport release-v2.5, backport release-v2.6

#3986 [DOC] Update query editor content and screenshots
  README.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/getting-started/assets/apm-overview.png
  docs/sources/tempo/getting-started/assets/grafana-query.png
  docs/sources/tempo/getting-started/assets/log-search.png
  docs/sources/tempo/getting-started/assets/tempo-ds.png
  docs/sources/tempo/getting-started/assets/tempo-search.png
  docs/sources/tempo/getting-started/assets/trace_sample.png
  docs/sources/tempo/getting-started/assets/trace_search.png
  docs/sources/tempo/getting-started/assets/trace_service_graph.png
  docs/sources/tempo/getting-started/assets/trace_to_logs.png
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/apm-error-example-editor.png
  docs/sources/tempo/metrics-generator/apm-error-rate-example.png
  docs/sources/tempo/metrics-generator/apm-filter-example-numbered.png
  docs/sources/tempo/metrics-generator/apm-filter-example2.png
  docs/sources/tempo/metrics-generator/apm-filter-operator.png
  docs/sources/tempo/metrics-generator/apm-overview-numbered.png
  docs/sources/tempo/metrics-generator/apm-query-filter-label.png
  docs/sources/tempo/metrics-generator/apm-query-filter-value1.png
  docs/sources/tempo/metrics-generator/apm-rate-drilldown.png
  docs/sources/tempo/metrics-generator/apm-remove-filter.png
  docs/sources/tempo/metrics-generator/apm-service-graph-drilldown.png
  docs/sources/tempo/metrics-generator/apm-service-graph-rows.png
  docs/sources/tempo/metrics-generator/apm-service-graph-web.png
  docs/sources/tempo/metrics-generator/apm-span-metrics.png
  docs/sources/tempo/metrics-generator/server-side-metrics-arch-overview.png
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/_index.md
  docs/sources/tempo/metrics-generator/tempo-metrics-gen-overview.svg
  docs/sources/tempo/traceql/query-editor/_index.md
  docs/sources/tempo/traceql/query-editor/traceql-editor.md
  docs/sources/tempo/traceql/query-editor/traceql-search.md
Labels: type/docs, backport release-v2.6

#4024 [DOC] Add doc for compare function for metrics doc
  docs/sources/tempo/traceql/metrics-queries.md
Labels: type/docs, backport release-v2.6

#3975 feat: added min_over_time TraceQL metric
  CHANGELOG.md
  docs/sources/tempo/traceql/metrics-queries.md
  modules/querier/http.go
  pkg/traceql/ast.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/ast_test.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_compare.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/enum_aggregates.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
Labels: type/docs

#4037 [Doc] Update retrieve traces doc to use Traces V2
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
Labels: type/docs, backport release-v2.6

#4033 [DOC] Add vParquet4 to analyse blocks CLI and update parquet doc
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/operations/tempo_cli.md
Labels: type/docs, backport release-v2.6
