Repository grafana/tempo, pull requests merged in 2025-07, with the labels that each got.

#5356 fix: usage tracker docs
  CHANGELOG.md
  docs/sources/tempo/configuration/usage-tracker.md
  example/docker-compose/local/docker-compose.yaml
  example/docker-compose/local/tempo.yaml
  example/docker-compose/shared/tempo.yaml
Labels: type/docs

#5345 docs: fix typo in compression notes
  docs/sources/tempo/configuration/_index.md
Labels: type/docs, backport release-v2.8

#5213 [DOC] Add tail sampling policy doc
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/_index.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/enable-tail-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/policies-strategies.md
Labels: type/docs, backport release-v2.8

#5387 [release-v2.8][DOC] Backport doc PRs 5213, 5345, 5367, 5294 (incl. tail sampling)
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/_index.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/enable-tail-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/policies-strategies.md
  docs/sources/tempo/setup/linux.md
  docs/sources/tempo/troubleshooting/out-of-memory-errors.md
Labels: type/docs, backport

#5381 Service graph: Use peer attribute for client service virtual nodes
  CHANGELOG.md
  docs/sources/tempo/metrics-generator/service_graphs/_index.md
  modules/generator/processor/servicegraphs/servicegraphs.go
  modules/generator/processor/servicegraphs/servicegraphs_test.go
  modules/generator/processor/servicegraphs/testdata/trace-with-virtual-nodes.json
Labels: type/docs
