Repository grafana/tempo, pull requests merged in 2025-04, with the labels that each got.

#4847 adjust backport workflow to use github app
  .github/workflows/backport.yml
Labels: type/ci

#4942 Add a table explaining metrics types to docs
  docs/sources/tempo/getting-started/metrics-from-traces.md
Labels: type/docs

#4934 docs: how to setup the usage tracker for cost attribution
  docs/sources/tempo/configuration/usage-tracker.md
Labels: type/docs, backport release-v2.7

#4646 Add support for topk and bottomk functions for TraceQL metrics
  CHANGELOG.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
  example/docker-compose/local/tempo.yaml
  modules/frontend/metrics_query_range_sharder.go
  modules/frontend/pipeline/async_weight_middleware.go
  modules/querier/querier_query_range.go
  pkg/traceql/ast.go
  pkg/traceql/ast_metrics.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/ast_validate.go
  pkg/traceql/engine.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_average.go
  pkg/traceql/engine_metrics_compare.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/engine_test.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/lexer.go
  pkg/traceql/parse_test.go
  pkg/traceql/series_heap.go
  pkg/traceql/test_examples.yaml
  pkg/traceqlmetrics/metrics.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Labels: type/docs

#4998 Caching: Restore parquet page copy logic
  tempodb/backend/cache/cache.go
Labels: type/bug, backport r196

#4984 Add tempo start docs
  docs/sources/tempo/setup/command-line-flags.md
Labels: type/docs

#4941 [DOC] Update docker-compose readme to use Alloy
  example/docker-compose/readme.md
Labels: type/docs

#5008 Add a table explaining metrics types to docs (#4942)
  docs/sources/tempo/getting-started/metrics-from-traces.md
Labels: type/docs, backport

#5010 [DOC] Update Ingest API for GET
  docs/sources/tempo/api_docs/_index.md
Labels: type/docs, backport release-v2.7

#5018 setting the default max series to 0 to disable limiting
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  modules/frontend/config.go
Labels: type/bug, backport r196

#5037 Change Explore Traces to Traces Drilldown
  docs/sources/tempo/shared/tempo-in-grafana.md
Labels: type/docs, backport release-v2.7

#5052 [DOC] Update count_over_time docs
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport release-v2.7

#5055 [release-v2.7] [DOC] Update count_over_time docs
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport
