Repository grafana/tempo, pull requests merged in 2025-03, with the labels that each got.

#4785 [release-v2.7] e2e: split and move api e2e tests into it's own package
  .github/workflows/ci.yml
  .gitignore
  Makefile
  integration/e2e/api/api_test.go
  integration/e2e/api/compression_test.go
  integration/e2e/api/config-cross-cluster-a.yaml
  integration/e2e/api/config-cross-cluster-b.yaml
  integration/e2e/api/config-https.yaml
  integration/e2e/api/config-multi-tenant-local.yaml
  integration/e2e/api/config-plugin-test.yaml
  integration/e2e/api/config-query-range.yaml
  integration/e2e/api/config-tempo-query.yaml
  integration/e2e/api/cross_cluster_reads_test.go
  integration/e2e/api/https_test.go
  integration/e2e/api/multi_tenant_test.go
  integration/e2e/api/query_plugin_test.go
  integration/e2e/api/query_range_test.go
  integration/e2e/metrics_generator_test.go
  integration/util/util.go
Labels: backport, type/ci

#4783 BugFix: Blocks whose end second matches a query range throw an erroneous error
  modules/frontend/cache_keys.go
  modules/frontend/cache_keys_test.go
  modules/frontend/frontend.go
  modules/frontend/metrics_query_range_handler_test.go
  modules/frontend/metrics_query_range_sharder.go
  modules/frontend/search_handlers_test.go
  modules/frontend/search_sharder.go
  modules/frontend/tag_handlers_test.go
  modules/frontend/tag_sharder.go
Labels: type/bug, missing-labels, backport r190

#4793 Update Explore Traces to Traces Drilldown in docs
  README.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.7

#4766 [DOC] Add tail sampling doc
  docs/sources/tempo/configuration/grafana-alloy/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/_index.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/enable-tail-sampling.md
Labels: type/docs, backport release-v2.7

#4820 Remove relref shortcodes
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/span-metrics.md
  docs/sources/tempo/configuration/hosted-storage/_index.md
  docs/sources/tempo/configuration/hosted-storage/gcs.md
  docs/sources/tempo/configuration/hosted-storage/s3.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/configuration/polling.md
  docs/sources/tempo/configuration/use-trace-data.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/cardinality.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/dedicated_columns.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/tempo_cli.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/release-notes/v1-2.md
  docs/sources/tempo/release-notes/v1-3.md
  docs/sources/tempo/release-notes/v1-4.md
  docs/sources/tempo/release-notes/v1-5.md
  docs/sources/tempo/release-notes/v2-0.md
  docs/sources/tempo/release-notes/v2-1.md
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/_index.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/linux.md
  docs/sources/tempo/setup/operator/_index.md
  docs/sources/tempo/setup/operator/monolithic.md
  docs/sources/tempo/setup/set-up-test-app.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/setup/upgrade.md
  pkg/docsgen/generate_manifest.go
Labels: type/docs

#4821 [v2.7.x] Remove relref shortcodes
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/span-metrics.md
  docs/sources/tempo/configuration/hosted-storage/_index.md
  docs/sources/tempo/configuration/hosted-storage/gcs.md
  docs/sources/tempo/configuration/hosted-storage/s3.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/configuration/parquet.md
  docs/sources/tempo/configuration/polling.md
  docs/sources/tempo/configuration/use-trace-data.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/metrics-generator/cardinality.md
  docs/sources/tempo/metrics-generator/service-graph-view.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/dedicated_columns.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/serverless_aws.md
  docs/sources/tempo/operations/serverless_gcp.md
  docs/sources/tempo/operations/tempo_cli.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/release-notes/v1-2.md
  docs/sources/tempo/release-notes/v1-3.md
  docs/sources/tempo/release-notes/v1-4.md
  docs/sources/tempo/release-notes/v1-5.md
  docs/sources/tempo/release-notes/v2-0.md
  docs/sources/tempo/release-notes/v2-1.md
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/_index.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/linux.md
  docs/sources/tempo/setup/operator/_index.md
  docs/sources/tempo/setup/operator/monolithic.md
  docs/sources/tempo/setup/set-up-test-app.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/setup/upgrade.md
  pkg/docsgen/generate_manifest.go
Labels: type/docs

#4827 [DOC] Fix broken links in Tempo doc
  README.md
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-alloy/_index.md
  docs/sources/tempo/configuration/grafana-alloy/automatic-logging.md
  docs/sources/tempo/configuration/grafana-alloy/service-graphs.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/_index.md
  docs/sources/tempo/configuration/grafana-alloy/tail-sampling/enable-tail-sampling.md
  docs/sources/tempo/configuration/network/tls.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/docker-example.md
  docs/sources/tempo/getting-started/example-demo-app.md
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/operator/multitenancy.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/architecture.md
Labels: type/docs, backport release-v2.7

#4834 [DOC] Update metrics from traces content
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4851 [release-v2.7] [DOC] Update metrics from traces content
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport

#4880 Remove inline shortcodes
  docs/sources/tempo/introduction/glossary.md
Labels: type/docs

#4881 [v2.7.x] Remove inline shortcodes
  docs/sources/tempo/introduction/glossary.md
Labels: type/docs

#4883 [v2.5.x] Remove inline shortcodes
  docs/sources/tempo/introduction/glossary.md
Labels: type/docs

#4882 [v2.6.x] Remove inline shortcodes
  docs/sources/tempo/introduction/glossary.md
Labels: type/docs

#4901 [release-v2.7] Fix querier panics
  modules/querier/querier.go
  modules/querier/querier_query_range.go
Labels: type/bug, backport

#4902 Changelog 2.7.2
  CHANGELOG.md
Labels: type/docs

#4903 [DOC] Create release notes for 2.7.2
  docs/sources/tempo/release-notes/v2-7.md
Labels: type/docs, backport release-v2.7

#4691 Update helm documentation for overrides
  docs/sources/helm-charts/tempo-distributed/get-started-helm-charts/_index.md
Labels: type/docs
