Repository grafana/tempo, pull requests merged in 2025-02, with the labels that each got.

#4648 [DOC] Update quick start guide to include missing step
  docs/sources/tempo/getting-started/docker-example.md
Labels: type/docs, backport release-v2.7

#4662 Add basic cluster sizing for Tempo doc
  docs/sources/tempo/setup/size.md
Labels: type/docs

#4661 [DOC] Updated TraceQL doc with an example for arrays
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.7

#4238 Add TraceQL query hint to retrieve most recent results ordered by trace start time
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  docs/sources/tempo/traceql/_index.md
  modules/frontend/combiner/common.go
  modules/frontend/combiner/common_test.go
  modules/frontend/combiner/search.go
  modules/frontend/combiner/search_test.go
  modules/frontend/combiner/trace_by_id_test.go
  modules/frontend/combiner/trace_by_id_v2_test.go
  modules/frontend/config.go
  modules/frontend/frontend.go
  modules/frontend/frontend_test.go
  modules/frontend/metrics_query_range_sharder.go
  modules/frontend/pipeline/responses.go
  modules/frontend/pipeline/responses_test.go
  modules/frontend/search_handlers.go
  modules/frontend/search_handlers_test.go
  modules/frontend/search_sharder.go
  modules/frontend/search_sharder_test.go
  modules/frontend/tag_handlers_test.go
  modules/frontend/tag_sharder.go
  modules/frontend/tag_sharder_test.go
  modules/frontend/traceid_handlers_test.go
  modules/ingester/ingester_test.go
  modules/ingester/instance_search.go
  modules/ingester/instance_search_test.go
  pkg/api/dedicated_columns_to_json.go
  pkg/traceql/combine.go
  pkg/traceql/combine_test.go
  pkg/traceql/engine.go
  pkg/traceql/engine_test.go
  pkg/traceql/enum_hints.go
  tempodb/blocklist/poller.go
  tempodb/tempodb_test.go
Labels: keepalive

#4696 Set gRPC compression default to snappy in all cases
  CHANGELOG.md
  cmd/tempo/app/config.go
  docs/sources/tempo/configuration/manifest.md
  modules/querier/config.go
Labels: type/bug, backport release-v2.7

#4719 [DOC] Remove traceToMetrics from docs
  docs/sources/tempo/getting-started/metrics-from-traces.md
Labels: type/docs, backport release-v2.7

#4697 [DOC] Release notes for 2.7.1
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs

#4680 [DOC] Updates for sharing content to GTC, Tempo data source
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/shared/traceql-query-structure.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/architecture.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/trace-structure.md
Labels: type/docs, backport release-v2.7

#4724 [release-v2.7] [DOC] Updates for sharing content to GTC, Tempo data source
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/shared/traceql-query-structure.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/architecture.md
  docs/sources/tempo/traceql/metrics-queries/_index.md
  docs/sources/tempo/traceql/trace-structure.md
Labels: type/docs, backport

#4690 Rewrite traces using rebatching
  CHANGELOG.md
  modules/generator/processor/spanmetrics/spanmetrics_test.go
  pkg/util/test/req.go
  tempodb/encoding/vparquet4/combiner.go
  tempodb/encoding/vparquet4/nested_set_model.go
  tempodb/encoding/vparquet4/rebatch_trace.go
  tempodb/encoding/vparquet4/rebatch_trace_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/encoding/vparquet4/schema_test.go
Labels: type/performance

#4730 Upgrade parquet-go to fix trace by id regression
  go.mod
  go.sum
  vendor/github.com/parquet-go/parquet-go/column.go
  vendor/github.com/parquet-go/parquet-go/format/parquet.go
  vendor/github.com/parquet-go/parquet-go/page.go
  vendor/github.com/parquet-go/parquet-go/schema.go
  vendor/github.com/parquet-go/parquet-go/type.go
  vendor/modules.txt
Labels: type/bug, backport r188

#4731 [r188] Upgrade parquet-go to fix trace by id regression
  go.mod
  go.sum
  vendor/github.com/parquet-go/parquet-go/column.go
  vendor/github.com/parquet-go/parquet-go/format/parquet.go
  vendor/github.com/parquet-go/parquet-go/page.go
  vendor/github.com/parquet-go/parquet-go/schema.go
  vendor/github.com/parquet-go/parquet-go/type.go
  vendor/modules.txt
Labels: type/bug, backport

#4754 Reorder span iterators
  CHANGELOG.md
  tempodb/encoding/vparquet4/block_traceql.go
Labels: type/performance

#4755 Improve Tempo build options
  CHANGELOG.md
  Makefile
Labels: type/performance
