Repository grafana/tempo, pull requests merged in 2025-01, with the labels that each got.

#4475 Update architecture.md
  docs/sources/tempo/operations/architecture.md
Labels: type/docs, backport release-v2.6, backport release-v2.7

#4471 [DOC] Update examples to TraceQL doc
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.6, backport release-v2.7

#4542 Changelog cleanup 2.7.0
  CHANGELOG.md
Labels: type/docs, backport release-v2.7

#4537 ]DOC] Tempo 2.7 release notes
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport release-v2.7

#4555 [DOC] Fix typo in Upgrade doc
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4558 [DOC] Update upgrade considerations for 2.7
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4551 Add doc for max_span_attr_byte and restructure troubleshoot doc
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/troubleshooting/_index.md
  docs/sources/tempo/troubleshooting/metrics-generator.md
  docs/sources/tempo/troubleshooting/out-of-memory-errors.md
  docs/sources/tempo/troubleshooting/querying/_index.md
  docs/sources/tempo/troubleshooting/querying/bad-blocks.md
  docs/sources/tempo/troubleshooting/querying/long-running-traces.md
  docs/sources/tempo/troubleshooting/querying/response-too-large.md
  docs/sources/tempo/troubleshooting/querying/search-tag.md
  docs/sources/tempo/troubleshooting/querying/too-many-jobs-in-queue.md
  docs/sources/tempo/troubleshooting/querying/unable-to-see-trace.md
  docs/sources/tempo/troubleshooting/send-traces/_index.md
  docs/sources/tempo/troubleshooting/send-traces/alloy.md
  docs/sources/tempo/troubleshooting/send-traces/max-trace-limit-reached.md
Labels: type/docs, backport release-v2.7

#4569 [DOC] Add blog link; update instrumentation scope doc
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.7

#4592 [DOC] Fix technical debt and improve reading scores
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/api_docs/metrics-summary.md
  docs/sources/tempo/configuration/network/ipv6.md
  docs/sources/tempo/configuration/network/tls.md
  docs/sources/tempo/configuration/use-trace-data.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/instrumentation.md
  docs/sources/tempo/getting-started/metrics-from-traces.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/introduction/solutions-with-traces/_index.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-app-insights.md
  docs/sources/tempo/introduction/solutions-with-traces/traces-diagnose-errors.md
  docs/sources/tempo/introduction/telemetry.md
  docs/sources/tempo/metrics-generator/service_graphs/_index.md
  docs/sources/tempo/metrics-generator/service_graphs/estimate-cardinality.md
  docs/sources/tempo/operations/cross_tenant_query.md
  docs/sources/tempo/operations/generic_forwarding.md
  docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/monitor/set-up-monitoring.md
  docs/sources/tempo/operations/multitenancy.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/tempo_cli.md
  docs/sources/tempo/operations/user-configurable-overrides.md
  docs/sources/tempo/release-notes/v2-2.md
  docs/sources/tempo/release-notes/v2-3.md
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/release-notes/v2-5.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/deployment.md
  docs/sources/tempo/setup/operator/multitenancy.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/troubleshooting/send-traces/alloy.md
Labels: type/docs

#4598 [DOC] Restructure operations and manage docs
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/best-practices.md
  docs/sources/tempo/getting-started/instrumentation.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/operations/_index.md
  docs/sources/tempo/operations/architecture.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/dedicated_columns.md
  docs/sources/tempo/operations/generic_forwarding.md
  docs/sources/tempo/operations/ingester_pvcs.md
  docs/sources/tempo/operations/manage-advanced-systems/_index.md
  docs/sources/tempo/operations/manage-advanced-systems/consistent_hash_ring.md
  docs/sources/tempo/operations/manage-advanced-systems/cross_tenant_query.md
  docs/sources/tempo/operations/manage-advanced-systems/generic_forwarding.md
  docs/sources/tempo/operations/manage-advanced-systems/multitenancy.md
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
  docs/sources/tempo/operations/manage-advanced-systems/zone-aware-ingesters.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/server_side_metrics.md
  docs/sources/tempo/operations/tempo_cli.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/operations/user-configurable-overrides-architecture.png
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/operator/multitenancy.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/shared/tempo-in-grafana.md
  docs/sources/tempo/troubleshooting/send-traces/max-trace-limit-reached.md
Labels: type/docs

#4626 [DOC] Update gRPC compression documentation
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4628 [release-v2.7] [DOC] Restructure operations and manage docs
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/getting-started/_index.md
  docs/sources/tempo/getting-started/best-practices.md
  docs/sources/tempo/getting-started/instrumentation.md
  docs/sources/tempo/getting-started/tempo-in-grafana.md
  docs/sources/tempo/introduction/_index.md
  docs/sources/tempo/metrics-generator/_index.md
  docs/sources/tempo/operations/_index.md
  docs/sources/tempo/operations/architecture.md
  docs/sources/tempo/operations/backend_search.md
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/dedicated_columns.md
  docs/sources/tempo/operations/generic_forwarding.md
  docs/sources/tempo/operations/ingester_pvcs.md
  docs/sources/tempo/operations/manage-advanced-systems/_index.md
  docs/sources/tempo/operations/manage-advanced-systems/consistent_hash_ring.md
  docs/sources/tempo/operations/manage-advanced-systems/cross_tenant_query.md
  docs/sources/tempo/operations/manage-advanced-systems/generic_forwarding.md
  docs/sources/tempo/operations/manage-advanced-systems/multitenancy.md
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
  docs/sources/tempo/operations/manage-advanced-systems/zone-aware-ingesters.md
  docs/sources/tempo/operations/monitor/_index.md
  docs/sources/tempo/operations/schema.md
  docs/sources/tempo/operations/server_side_metrics.md
  docs/sources/tempo/operations/tempo_cli.md
  docs/sources/tempo/operations/traceql-metrics.md
  docs/sources/tempo/operations/user-configurable-overrides-architecture.png
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/setup/operator/multitenancy.md
  docs/sources/tempo/setup/tanka.md
  docs/sources/tempo/shared/best-practices-traces.md
  docs/sources/tempo/shared/tempo-in-grafana.md
  docs/sources/tempo/troubleshooting/send-traces/max-trace-limit-reached.md
Labels: type/docs, backport

#4627 [DOC] Add flush_to_storage to metrics-gen config doc
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4625 Update cardinality.md
  docs/sources/tempo/metrics-generator/cardinality.md
Labels: type/docs, backport release-v2.7

#4635 [DOC] Share trace structure from docs
  docs/sources/tempo/introduction/trace-structure.md
  docs/sources/tempo/shared/trace-structure.md
  docs/sources/tempo/traceql/trace-structure.md
Labels: type/docs, backport release-v2.7

#4631 Update serverless_aws.md
  docs/sources/tempo/operations/serverless_aws.md
  docs/sources/tempo/operations/serverless_gcp.md
Labels: type/docs

#4644 [DOC] Update gRPC compressiong admonition
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.7

#4645 [release-v2.7] [DOC] Update gRPC compressiong admonition
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-7.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport
