Repository grafana/tempo, pull requests merged in 2025-06, with the labels that each got.

#5205 [DOC] Fix traces.spanmetrics in Alloy config doc
  docs/sources/tempo/configuration/grafana-alloy/span-metrics.md
Labels: type/docs, backport release-v2.7, backport release-v2.8

#5217 [DOC] Correct out-of-place sentences in Changelog for 2.8RC
  CHANGELOG.md
Labels: type/docs, backport release-v2.8

#5244 Docs/adds shared shortcode for learning journey
  docs/sources/tempo/introduction/solutions-with-traces/_index.md
Labels: type/docs

#5258 [DOC] Tempo 2.8 release notes
  .github/copilot-instructions.md
  README.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/release-notes/v2-8.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport release-v2.8

#5259 [release-2.8][DOC] Backport doc changes for v2.8 release
  .github/copilot-instructions.md
  README.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/grafana-alloy/span-metrics.md
  docs/sources/tempo/operations/manage-advanced-systems/multitenancy.md
  docs/sources/tempo/release-notes/v2-6.md
  docs/sources/tempo/release-notes/v2-8.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/metrics-queries/functions.md
Labels: type/docs, backport

#5260 [DOC] Add upgrade docs for 2.8
  docs/sources/tempo/release-notes/v2-8.md
  docs/sources/tempo/setup/upgrade.md
Labels: type/docs, backport release-v2.8

#5264 [DOC] Fix links for 2.8 release
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/release-notes/v2-8.md
  docs/sources/tempo/setup/command-line-flags.md
  docs/sources/tempo/setup/upgrade.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.8

#5274 [DOC] Add non-deterministic content back to doc
  docs/sources/tempo/shared/tempo-in-grafana.md
  docs/sources/tempo/traceql/_index.md
Labels: type/docs, backport release-v2.8

#5307 [release-v2.8] [DOC] Draft 2.8.1 release notes
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/operations/architecture.md
  docs/sources/tempo/operations/cache-summary.png
  docs/sources/tempo/operations/caching.md
  docs/sources/tempo/operations/caching_memcached_connection_limit.png
  docs/sources/tempo/operations/tempo_arch.png
  docs/sources/tempo/release-notes/v2-4.md
  docs/sources/tempo/release-notes/v2-8.md
  docs/sources/tempo/traceql/_index.md
  docs/sources/tempo/traceql/construct-traceql-queries.md
Labels: type/docs, backport

#5299 [release-v2.8][DOC] Backport doc 5265 anonymous usage
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/anonymous-usage-reporting.md
  docs/sources/tempo/configuration/usage-tracker.md
  docs/sources/tempo/release-notes/v1-5.md
Labels: type/docs, backport
