Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana, @jdbaldry

Move cardinality back
  modules/generator/registry/cardinality.go
  modules/generator/registry/cardinality_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix references
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove delete by hash
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
  modules/generator/registry/test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add missing assertion
  modules/generator/localentitylimiter/local_entity_limiter_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Respect configured S3 part size for compatibility with Cloudflare R2
  CHANGELOG.md
  tempodb/backend/s3/config.go
  tempodb/backend/s3/s3.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Updated manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Preserve old chunking behavior if PartSize is unset
  docs/sources/tempo/configuration/manifest.md
  tempodb/backend/s3/config.go
  tempodb/backend/s3/s3.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Respect configured S3 part size for compatibility with Cloudflare R2 (#5838)
  CHANGELOG.md
  tempodb/backend/s3/s3.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

make topk/bottom deterministic by tie breaking with labels
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/series_heap.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Update docs/sources/tempo/operations/monitor/polling.md
  docs/sources/tempo/operations/monitor/polling.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

removed unused func. added more tests
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/series_heap_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

[docs] include initial docs about the scheduler/worker (#5783)
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/polling.md
  docs/sources/tempo/introduction/architecture.md
  docs/sources/tempo/operations/monitor/polling.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Include documentation tip on duration values
  docs/sources/tempo/configuration/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

CI: Update file path for dev deploy workflow step (#5834)
  .github/workflows/docker.yml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix column name for wellknown and custom attr
  pkg/traceql/ast_execute.go
  tempodb/encoding/common/types.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet5/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

one more from vparquet3
  tempodb/encoding/vparquet3/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

refactoring
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/series_heap.go
  pkg/traceql/series_heap_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

topk alpha first
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/series_heap.go
  pkg/traceql/series_heap_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

better tests
  pkg/traceql/engine_metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

[DOC] Remove references to Grafana Agent (#5832)
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging-example-query.png
  docs/sources/tempo/configuration/grafana-agent/automatic-logging-example-results.png
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.png
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/span-metrics.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.png
  docs/sources/tempo/metrics-from-traces/service_graphs/service-graph-view.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/grafana-alloy/_index.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/grafana-alloy/automatic-logging.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/grafana-alloy/migrate-alloy.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/tail-sampling/_index.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/tail-sampling/tempo-tail-based-sampling.svg
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

BREAKING CHANGE: more precise regex validation
  pkg/traceql/ast_validate.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add optimizable queries to test_examples.yaml
  pkg/traceql/ast_stringer_test.go
  pkg/traceql/test_examples.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Reuse compiled regex for array operations
  pkg/traceql/ast.go
  pkg/traceql/ast_execute.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

make fmt
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix linter issues
  pkg/traceql/ast_rewriter_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

More test cases for parse test
  pkg/traceql/parse_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

vp3: handle predicates with arrays correctly
  tempodb/encoding/vparquet3/block_autocomplete.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet4/block_autocomplete.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove loop
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

chlog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Make topk/bottom deterministic by tie breaking with labels (#5846)
  CHANGELOG.md
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
  pkg/traceql/series_heap.go
  pkg/traceql/series_heap_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix broken instrumentation doc link
  docs/sources/tempo/set-up-for-tracing/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Include documentation tip on duration values (#5847)
  docs/sources/tempo/configuration/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

{.a = nil } (#4905)
  CHANGELOG.md
  docs/sources/tempo/traceql/construct-traceql-queries.md
  pkg/parquetquery/nil_iter.go
  pkg/parquetquery/nil_iter_test.go
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  pkg/traceql/ast.go
  pkg/traceql/ast_conditions.go
  pkg/traceql/ast_conditions_test.go
  pkg/traceql/ast_execute.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/ast_validate.go
  pkg/traceql/enum_operators.go
  pkg/traceql/enum_operators_test.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/parse_test.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_search.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet5/block_search.go
  tempodb/encoding/vparquet5/block_traceql.go
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/tempodb_test.go
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana

Add more info about intrinsic to TraceQL doc
  docs/sources/tempo/shared/trace-structure.md
  docs/sources/tempo/traceql/trace-structure.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix mimirtools link in metamonitoring.md (#5790)
  docs/sources/tempo/shared/metamonitoring.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

feat: expose new owned partition metric (#5815)
  CHANGELOG.md
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add test file for backport workflow validation
  test
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix broken instrumentation doc link (#5850)
  docs/sources/tempo/set-up-for-tracing/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add more info about intrinsic to TraceQL doc (#5851)
  docs/sources/tempo/shared/trace-structure.md
  docs/sources/tempo/traceql/trace-structure.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
