Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana, @jdbaldry

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

tempo: fix and isolate S3 credentials test (#5515)
  tempodb/backend/s3/s3_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix to maintain nano-second precision for blocks overlapping query range edges and recent/backend handoff where things don't align
  modules/frontend/metrics_query_range_sharder.go
  modules/generator/processor/localblocks/query_range.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix tests after merging main, one more fix to maintain nanosecond precision when needed
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Cleanup/reduce diff from main
  cmd/tempo-cli/cmd-convert-parquet-4to5.go
  modules/frontend/metrics_query_range_sharder.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Pass list of trace IDs as deep as possible
  cmd/tempo/app/modules.go
  modules/frontend/combiner/traces_check.go
  modules/generator/processor/localblocks/processor_test.go
  modules/ingester/ingester.go
  modules/ingester/instance.go
  modules/ingester/local_block.go
  modules/querier/http.go
  modules/querier/querier.go
  pkg/api/http.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  tempodb/encoding/common/interfaces.go
  tempodb/encoding/v2/backend_block.go
  tempodb/encoding/v2/wal_block.go
  tempodb/encoding/vparquet2/block_findtracebyid.go
  tempodb/encoding/vparquet2/wal_block.go
  tempodb/encoding/vparquet3/block_findtracebyid.go
  tempodb/encoding/vparquet3/wal_block.go
  tempodb/encoding/vparquet4/block_traces_check.go
  tempodb/encoding/vparquet4/wal_block.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Generate manigest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix linting
  modules/livestore/instance.go
  modules/livestore/overrides.go
  modules/livestore/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Clean up pr and simplify
  modules/livestore/instance.go
  modules/livestore/live_store.go
  modules/livestore/live_store_test.go
  modules/livestore/overrides.go
  modules/livestore/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix linting
  modules/livestore/overrides.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

simplify
  modules/livestore/overrides.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[Bugfix] fix panic in compare
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fork slices.Clone: optimise capacity
  pkg/util/slices.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

simplify more!
  modules/livestore/instance.go
  modules/livestore/live_store.go
  modules/livestore/overrides.go
  modules/livestore/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add comments
  modules/generator/processor/localblocks/query_range.go
  modules/livestore/query_range.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix defaults
  modules/livestore/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Remove unused fields
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[backend-worker] add config option to finish current job before shutdown
  docs/sources/tempo/configuration/manifest.md
  modules/backendworker/backendworker.go
  modules/backendworker/config.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Include timeout only after the parent context has been cancelled
  docs/sources/tempo/configuration/manifest.md
  modules/backendworker/backendworker.go
  modules/backendworker/config.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Consolidate configuration to one tunable
  docs/sources/tempo/configuration/manifest.md
  modules/backendworker/backendworker.go
  modules/backendworker/config.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add lower default for integration test shutdown
  integration/backendscheduler/config.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[backend-scheduler] add histogram for job duration (#5461)
  modules/backendscheduler/backendscheduler.go
  modules/backendscheduler/metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Initial code for query range path (#5516)
  docs/sources/tempo/configuration/manifest.md
  modules/livestore/config.go
  modules/livestore/instance.go
  modules/livestore/live_store.go
  modules/livestore/live_store_test.go
  modules/livestore/query_range.go
  modules/livestore/query_range_test.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add function comment
  tempodb/tempodb.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

moved generator ring config to a sharead area
  modules/generator/config.go
  modules/generator/generator.go
  pkg/ring/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

setup rings in livestore
  cmd/tempo/app/config.go
  cmd/tempo/app/modules.go
  modules/livestore/client/client.go
  modules/livestore/config.go
  modules/livestore/instance_search.go
  modules/livestore/instance_search_test.go
  modules/livestore/live_store.go
  modules/querier/config.go
  modules/querier/querier.go
  modules/querier/querier_test.go
  pkg/docsgen/generate_manifest.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[backend-worker] add config option to finish current job before shutdown (#5460)
  CHANGELOG.md
  docs/sources/tempo/configuration/manifest.md
  integration/backendscheduler/config.yaml
  modules/backendworker/backendworker.go
  modules/backendworker/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana

update dosc
  docs/sources/tempo/api_docs/mcp-server.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

update dosc (#5521)
  docs/sources/tempo/api_docs/mcp-server.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add tranformation functionality for target to the xgboost regression
  .python-version
  example/notebook.ipynb
  example/predict_end_month_billable_usage/conf/config_arima.yaml
  example/predict_end_month_billable_usage/conf/experiment_logger/regression_experiment_logger.yaml
  example/predict_end_month_billable_usage/conf/model/arima_regressor.yaml
  example/predict_end_month_billable_usage/conf/model_type/time_series.yaml
  example/predict_end_month_billable_usage/data/arima_model_data.parquet
  example/predict_end_month_billable_usage/data/synthetic_ts.csv
  example/predict_end_month_billable_usage/data/synthetic_ts.parquet
  example/predict_end_month_billable_usage/data/time_series.csv
  example/predict_end_month_billable_usage/run_arima_experiment.py
  mlt/cross_validation_splitters/timeseries_cv.py
  mlt/experiment_pipeline/training_pipeline.py
  mlt/experiment_reporter/__init__.py
  mlt/experiment_reporter/experiment_logger.py
  mlt/models/base_models.py
  mlt/models/sklearn_models/classification.py
  mlt/models/time_series_models/__init__.py
  mlt/models/time_series_models/arima.py
  mlt/models/xgboost_models/__init__.py
  mlt/models/xgboost_models/classification.py
  mlt/models/xgboost_models/regression.py
  mlt/param_spaces/__init__.py
  mlt/param_spaces/ray_spaces.py
  pyproject.toml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Only wait for a poll if we have been drained
  modules/backendscheduler/provider/compaction.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[bugfix] TraceQL Metrics: panic in compare (#5519)
  CHANGELOG.md
  pkg/util/slices.go
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[bugfix] TraceQL Metrics: panic in compare (#5519)
  CHANGELOG.md
  pkg/util/slices.go
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

actually query live stores
  cmd/tempo/app/config.go
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/docker-compose.yaml
  example/docker-compose/ingest-storage/prometheus.yaml
  example/docker-compose/ingest-storage/tempo.yaml
  modules/distributor/config.go
  modules/distributor/distributor.go
  modules/livestore/instance_search.go
  modules/livestore/live_store.go
  modules/querier/config.go
  modules/querier/parition_ring.go
  modules/querier/querier.go
  modules/querier/querier_query_range.go
  modules/querier/querier_test.go
  pkg/ring/ring.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[bugfix] TraceQL Metrics: panic in compare (#5519) (#5522)
  CHANGELOG.md
  pkg/util/slices.go
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

move maxbytes for sanity
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

todos
  modules/querier/querier.go
  pkg/ring/ring.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov
