Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana, @jdbaldry

mixin
  operations/tempo-mixin-compiled/dashboards/tempo-resources.json
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

feat(mixin): switch to timeseries panels as graph is depreacted and removed (#5359)
  operations/tempo-mixin-compiled/dashboards/tempo-block-builder.json
  operations/tempo-mixin-compiled/dashboards/tempo-resources.json
  operations/tempo-mixin/dashboards/dashboard-utils.libsonnet
  operations/tempo-mixin/dashboards/tempo-block-builder.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

docs: Update User-configurable overrides supported fields
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

docs: Update User-configurable overrides supported fields (#5794)
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate (#5805)
  CHANGELOG.md
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate (#5805)
  CHANGELOG.md
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate (#5805)
  CHANGELOG.md
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate (#5805) (#5806)
  CHANGELOG.md
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Bugfix: default replicatemplate (#5805) (#5807)
  CHANGELOG.md
  operations/jsonnet-compiled/ReplicaTemplate-live-store.yaml
  operations/jsonnet-compiled/util/jsonnetfile.lock.json
  operations/jsonnet/microservices/replica-template.libsonnet
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

add more cutoff
  integration/e2e/api/config-plugin-test.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

feat(s3): Support S3 SSE-C encryption (#5789)
  CHANGELOG.md
  docs/sources/tempo/configuration/_index.md
  docs/sources/tempo/configuration/manifest.md
  tempodb/backend/s3/config.go
  tempodb/backend/s3/s3.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana

Live-store: query live-store flag
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/tempo.yaml
  example/tk/tempo-microservices/main.jsonnet
  integration/e2e/ingest/config-live-store.yaml
  modules/querier/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Support querying metrics with live-stores via header
  modules/querier/querier.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Live-store: query live-store flag (#5808)
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/tempo.yaml
  example/tk/tempo-microservices/main.jsonnet
  integration/e2e/ingest/config-live-store.yaml
  modules/querier/config.go
  modules/querier/querier.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Live-store: query live-store flag (#5808)
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/tempo.yaml
  example/tk/tempo-microservices/main.jsonnet
  integration/e2e/ingest/config-live-store.yaml
  modules/querier/config.go
  modules/querier/querier.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Live-store: query live-store flag (#5808) (#5809)
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/tempo.yaml
  example/tk/tempo-microservices/main.jsonnet
  integration/e2e/ingest/config-live-store.yaml
  modules/querier/config.go
  modules/querier/querier.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

make generate-manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

vParquet5: dedicated columns support array values (#5760)
  CHANGELOG.md
  docs/sources/tempo/configuration/manifest.md
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  tempodb/backend/block_meta.go
  tempodb/backend/block_meta_test.go
  tempodb/encoding/vparquet3/dedicated_columns.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet4/dedicated_columns.go
  tempodb/encoding/vparquet5/block_autocomplete_test.go
  tempodb/encoding/vparquet5/block_search_test.go
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/encoding/vparquet5/dedicated_columns.go
  tempodb/encoding/vparquet5/dedicated_columns_test.go
  tempodb/encoding/vparquet5/encoding.go
  tempodb/encoding/vparquet5/rebatch_trace.go
  tempodb/encoding/vparquet5/rebatch_trace_test.go
  tempodb/encoding/vparquet5/schema.go
  tempodb/encoding/vparquet5/schema_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana

docs: Update User-configurable overrides supported fields (#5794)
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

docs: Update User-configurable overrides supported fields (#5794) (#5812)
  docs/sources/tempo/operations/manage-advanced-systems/user-configurable-overrides.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Live-store: query live-store flag (#5808)
  cmd/tempo/app/modules.go
  example/docker-compose/ingest-storage/tempo.yaml
  example/tk/tempo-microservices/main.jsonnet
  integration/e2e/ingest/config-live-store.yaml
  modules/querier/config.go
  modules/querier/querier.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

[Enhancement] heavy query weights (#5782)
  CHANGELOG.md
  modules/frontend/pipeline/async_weight_middleware.go
  modules/frontend/pipeline/async_weight_middleware_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

feat: expose new owned partition metric
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Updates
  docs/sources/tempo/configuration/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Updates
  docs/sources/tempo/configuration/polling.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix nil and filter processor
  modules/distributor/forwarder/forwarder.go
  modules/distributor/forwarder/ottl_ismatch_test.go
  modules/querier/http.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add nil check
  modules/querier/http_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix the root
  modules/livestore/live_store.go
  modules/querier/http.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove unneeded test
  modules/querier/http_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

add comment
  modules/distributor/forwarder/ottl_ismatch_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Always return the default value
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add link to blog post to rel notes
  docs/sources/tempo/release-notes/v2-9.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix: deduplicate prom labels in metric generator registry again
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry_test.go
  modules/generator/registry/test.go
  modules/generator/registry/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

handle nil case
  modules/generator/registry/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix: deduplicate prom labels in metric generator registry again (#5819)
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry_test.go
  modules/generator/registry/test.go
  modules/generator/registry/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix: handle collisions with job and instance labels when targetInfo is enabled (#5780)
  CHANGELOG.md
  modules/generator/processor/spanmetrics/config.go
  modules/generator/processor/spanmetrics/spanmetrics.go
  modules/generator/processor/spanmetrics/spanmetrics_test.go
  modules/generator/processor/util/util.go
  pkg/util/test/req.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix: deduplicate prom labels in metric generator registry again (#5819)
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry_test.go
  modules/generator/registry/test.go
  modules/generator/registry/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix: handle collisions with job and instance labels when targetInfo is enabled (#5780) (#5820)
  CHANGELOG.md
  modules/generator/processor/spanmetrics/config.go
  modules/generator/processor/spanmetrics/spanmetrics.go
  modules/generator/processor/spanmetrics/spanmetrics_test.go
  modules/generator/processor/util/util.go
  pkg/util/test/req.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
