Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana, @jdbaldry

fix default config
  modules/livestore/metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

remove unused ded cols
  modules/livestore/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix
  modules/livestore/live_store.go
  modules/livestore/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

lint
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

lint
  modules/livestore/config_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix e2e test
  integration/e2e/ingest/config-live-store.yaml
  integration/e2e/ingest/live_store_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

feat: add support for identifying root spans with child_of links in traceToParquet
  tempodb/encoding/vparquet2/schema.go
  tempodb/encoding/vparquet2/schema_test.go
  tempodb/encoding/vparquet3/schema.go
  tempodb/encoding/vparquet3/schema_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/encoding/vparquet4/schema_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

feat: add pr in changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Livestore/Rhythm cleanup (#5556)
  cmd/tempo/app/modules.go
  docs/sources/tempo/configuration/manifest.md
  integration/e2e/ingest/config-live-store.yaml
  integration/e2e/ingest/live_store_test.go
  modules/livestore/config.go
  modules/livestore/config_test.go
  modules/livestore/flush.go
  modules/livestore/instance.go
  modules/livestore/live_store.go
  modules/livestore/metrics_test.go
  modules/livestore/query_range_test.go
  modules/querier/config.go
  modules/querier/partition_ring.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana

add nil value handling
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  pkg/traceql/ast.go
  pkg/traceql/ast_conditions.go
  pkg/traceql/ast_conditions_test.go
  pkg/traceql/ast_execute.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/enum_operators.go
  pkg/traceql/enum_operators_test.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/parse_test.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

lint
  pkg/parquetquery/nilIter.go
  pkg/traceql/ast_validate.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

manifest and lint
  docs/sources/tempo/configuration/manifest.md
  modules/livestore/live_store.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[Bugfix] Fix alloy gRPC endpoint port configuration from 4317 to 4319 (#5537)
  CHANGELOG.md
  example/docker-compose/alloy/docker-compose.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add tests to make unsafe usages more robust
  pkg/parquetquery/intern/intern.go
  pkg/parquetquery/intern/intern_test.go
  pkg/regexp/regexp.go
  pkg/regexp/regexp_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

restore changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add one more case in the cost attribution tests
  modules/overrides/userconfigurable/api/api_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add one more case in the cost attribution tests (#5565)
  modules/overrides/userconfigurable/api/api_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix vendor
  vendor/go.opentelemetry.io/collector/service/telemetry/doc.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/config.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/factory.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/factory_impl.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/logger.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/metrics.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/sdk.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/tracer.go
  vendor/go.opentelemetry.io/collector/service/telemetry/telemetry.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix vendor (#5567)
  vendor/go.opentelemetry.io/collector/service/telemetry/doc.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/config.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/factory.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/factory_impl.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/logger.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/metrics.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/sdk.go
  vendor/go.opentelemetry.io/collector/service/telemetry/otelconftelemetry/tracer.go
  vendor/go.opentelemetry.io/collector/service/telemetry/telemetry.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactoring: return livetrace rejection reason
  modules/blockbuilder/tenant_store.go
  modules/generator/processor/localblocks/processor.go
  modules/livestore/instance.go
  pkg/livetraces/livetraces.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Support limit for max live traces
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Tests for limits
  modules/ingester/instance_search_test.go
  modules/livestore/instance_search_test.go
  modules/livestore/instance_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Simple limits
  modules/livestore/instance_search.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactoring: move discard reasons to shared vars
  modules/backendworker/backendworker.go
  modules/blockbuilder/tenant_store.go
  modules/compactor/compactor.go
  modules/distributor/distributor.go
  modules/overrides/discarded_spans.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Reduce log level for dropped spans message
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Metrics for discarded spans
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Live-store: limits (#5560)
  modules/backendworker/backendworker.go
  modules/blockbuilder/tenant_store.go
  modules/compactor/compactor.go
  modules/distributor/distributor.go
  modules/generator/processor/localblocks/processor.go
  modules/ingester/instance_search_test.go
  modules/livestore/instance.go
  modules/livestore/instance_search.go
  modules/livestore/instance_search_test.go
  modules/livestore/instance_test.go
  modules/overrides/discarded_spans.go
  pkg/livetraces/livetraces.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[bugfix] Fix cache collision for incomplete query in SearchTagValuesV2 (#5553)
  modules/livestore/instance_search.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

linter fixes
  pkg/traceql/engine_metrics.go
  pkg/traceql/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

e2e: test for avg_over_time instant query
  integration/e2e/api/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactoring: renames
  modules/frontend/combiner/metrics_query_range.go
  pkg/traceql/ast_metrics.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_average.go
  pkg/traceql/engine_metrics_compare.go
  pkg/traceql/engine_metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Deligate alignment and instant query logic to bucket set
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_average.go
  pkg/traceql/engine_metrics_compare.go
  pkg/traceql/util.go
  pkg/traceql/util_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactoring: introduce interface to calculate intervals
  modules/frontend/combiner/metrics_query_range.go
  pkg/traceql/ast_metrics.go
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_average.go
  pkg/traceql/engine_metrics_compare.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Microoptimisation: reduce copies
  pkg/traceql/ast_metrics.go
  pkg/traceql/engine_metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactoring: remove old functions
  pkg/traceql/engine_metrics.go
  pkg/traceql/engine_metrics_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Instant aggregator
  pkg/traceql/engine_metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Pre-calculate interval count
  pkg/traceql/engine_metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Remove duplicated validation check
  pkg/traceql/engine_metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Introduce alwaysFullBucketSet
  pkg/traceql/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
