Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana, @jdbaldry

feat: add error log when request trace size over max size
  modules/blockbuilder/tenant_store.go
  modules/generator/processor/localblocks/processor.go
  modules/livestore/instance.go
  pkg/livetraces/livetraces.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Always jitter
  modules/livestore/live_store.go
  modules/livestore/live_store_background.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix race condition in block-builder test
  modules/blockbuilder/blockbuilder_test.go
  pkg/util/test/logger.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Upgrade parquet-go (#5644)
  go.mod
  go.sum
  vendor/github.com/parquet-go/parquet-go/README.md
  vendor/github.com/parquet-go/parquet-go/column.go
  vendor/github.com/parquet-go/parquet-go/column_buffer.go
  vendor/github.com/parquet-go/parquet-go/config.go
  vendor/github.com/parquet-go/parquet-go/convert.go
  vendor/github.com/parquet-go/parquet-go/dictionary.go
  vendor/github.com/parquet-go/parquet-go/encoding/thrift/decode.go
  vendor/github.com/parquet-go/parquet-go/encoding/thrift/encode.go
  vendor/github.com/parquet-go/parquet-go/file.go
  vendor/github.com/parquet-go/parquet-go/merge.go
  vendor/github.com/parquet-go/parquet-go/multi_row_group.go
  vendor/github.com/parquet-go/parquet-go/node.go
  vendor/github.com/parquet-go/parquet-go/page.go
  vendor/github.com/parquet-go/parquet-go/row.go
  vendor/github.com/parquet-go/parquet-go/row_group.go
  vendor/github.com/parquet-go/parquet-go/schema.go
  vendor/github.com/parquet-go/parquet-go/sorting.go
  vendor/github.com/parquet-go/parquet-go/tags.go
  vendor/github.com/parquet-go/parquet-go/type.go
  vendor/github.com/parquet-go/parquet-go/writer.go
  vendor/modules.txt
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Wrong context
  modules/blockbuilder/blockbuilder_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix race condition in block-builder test (#5645)
  modules/blockbuilder/blockbuilder_test.go
  pkg/util/test/logger.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update local docker-compose example to scrape /usage_metrics (#5643)
  example/docker-compose/local/docker-compose.yaml
  example/docker-compose/local/prometheus.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

usage: add scope support into cost-attribution usage tracker
  modules/distributor/usage/tracker.go
  modules/distributor/usage/tracker_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

update test
  modules/distributor/usage/tracker_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

chore: refactor method to wait for a healthy broker (#5618)
  CHANGELOG.md
  modules/blockbuilder/blockbuilder.go
  modules/generator/generator.go
  modules/livestore/live_store.go
  pkg/ingest/util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

WIP on validateTraceSearch
  cmd/tempo-vulture/validation.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

update local example config
  example/docker-compose/local/tempo.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

update tests and add some more
  modules/distributor/usage/tracker.go
  modules/distributor/usage/tracker_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update documention page
  docs/sources/tempo/configuration/usage-tracker.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

thoughts
  modules/backendscheduler/provider/compaction.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update CHANGELOG.md
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

thoughts
  modules/backendscheduler/provider/compaction.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

moar thots
  modules/backendscheduler/provider/compaction.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

moar thots
  docs/sources/tempo/configuration/manifest.md
  modules/backendscheduler/provider/compaction.go
  modules/backendscheduler/provider/compaction_test.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix lint
  pkg/livetraces/livetraces.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update Push spans HTTP; fix lint errors
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
  docs/sources/tempo/metrics-from-traces/_index.md
  docs/sources/tempo/metrics-from-traces/metrics-queries/configure-traceql-metrics.md
  docs/sources/tempo/metrics-from-traces/metrics-queries/functions.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add clearer instructions for nanoseconds
  docs/sources/tempo/api_docs/pushing-spans-with-http.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add link to Game of Traces
  docs/sources/tempo/introduction/_index.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[live-store] Decouple consuming and committing from/to Kafka
  modules/blockbuilder/blockbuilder_test.go
  modules/livestore/config.go
  modules/livestore/live_store.go
  modules/livestore/partition_reader.go
  modules/livestore/partition_reader_test.go
  pkg/ingest/testkafka/client.go
  pkg/ingest/testkafka/cluster.go
  pkg/ingest/testkafka/message.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix this and that
  docs/sources/tempo/configuration/manifest.md
  modules/blockbuilder/blockbuilder_test.go
  modules/livestore/partition_reader_test.go
  pkg/ingest/testkafka/client.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Revert "Always jitter"
  modules/livestore/live_store.go
  modules/livestore/live_store_background.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix delay calculation
  modules/livestore/live_store_background.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix more cycles
  modules/blockbuilder/blockbuilder_test.go
  modules/livestore/partition_reader_test.go
  pkg/ingest/testkafka/client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

oops
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Agh
  pkg/ingest/testkafka/client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Another fix
  modules/livestore/partition_reader_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Address doc review comments
  CHANGELOG.md
  docs/sources/tempo/configuration/usage-tracker.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana

replace strings with int8 in the hot path
  modules/distributor/usage/tracker.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix test
  modules/livestore/partition_reader_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

remove flake from the test
  modules/distributor/usage/tracker_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

generator: add gauge for series demand
  modules/generator/registry/registry.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update changelog
  CHANGELOG.md
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

10s
  modules/livestore/live_store_background.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Expose allowed_header
  modules/frontend/config.go
  modules/frontend/frontend.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
