Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana, @jdbaldry

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

Fix lint for signature change
  modules/backendscheduler/provider/compaction_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

one. single. newline
  modules/livestore/client/client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Implement poller hook on compaction provider for accurate delay (#5458)
  modules/backendscheduler/provider/compaction.go
  modules/backendscheduler/provider/compaction_test.go
  modules/frontend/search_sharder_test.go
  tempodb/tempodb.go
  tempodb/tempodb_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

lint
  cmd/tempo/app/config.go
  modules/livestore/client/client.go
  modules/livestore/live_store.go
  modules/querier/partition_ring.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

lint, please just tell me what you want all at once. signed, joe
  modules/livestore/live_store.go
  modules/querier/partition_ring.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Comment test with note
  modules/generator/registry/native_histogram_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

wip
  modules/generator/storage/config_util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

wip
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add note
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

wip
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add tests and notes
  modules/generator/registry/native_histogram.go
  modules/generator/registry/native_histogram_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Review feedback
  tempodb/encoding/vparquet4/block_findtracebyid.go
  tempodb/encoding/vparquet4/block_findtracebyid_test.go
  tempodb/encoding/vparquet4/schema.go
  tempodb/encoding/vparquet4/schema_test.go
  tempodb/encoding/vparquet4/wal_block.go
  tempodb/encoding/vparquet5/block_findtracebyid.go
  tempodb/encoding/vparquet5/block_findtracebyid_test.go
  tempodb/encoding/vparquet5/block_search.go
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/encoding/vparquet5/schema.go
  tempodb/encoding/vparquet5/schema_test.go
  tempodb/encoding/vparquet5/wal_block.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

rename config option
  docs/sources/tempo/configuration/manifest.md
  example/docker-compose/ingest-storage/tempo.yaml
  modules/distributor/config.go
  modules/distributor/distributor.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix test
  modules/distributor/distributor_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix the other test
  integration/e2e/ingest/config-live-store.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add components to support LBAC
  cmd/tempo/app/app.go
  cmd/tempo/app/modules.go
  modules/frontend/combiner/span_matcher.go
  modules/frontend/combiner/trace_by_id.go
  modules/frontend/combiner/trace_by_id_v2.go
  modules/frontend/traceid_handlers.go
  pkg/traceql/ast.go
  pkg/traceql/ast_execute.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/ast_validate.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

first round comments
  modules/frontend/combiner/span_matcher.go
  modules/frontend/combiner/span_matcher_test.go
  modules/frontend/combiner/trace_by_id.go
  modules/frontend/combiner/trace_by_id_v2.go
  modules/frontend/traceid_handlers.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

add span matcher tests
  modules/frontend/combiner/span_matcher.go
  modules/frontend/combiner/span_matcher_test.go
  modules/frontend/combiner/trace_by_id_test.go
  modules/frontend/combiner/trace_by_id_v2.go
  modules/frontend/combiner/trace_by_id_v2_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

remove spanmatcher, add passthrough accesshandler instead
  cmd/tempo/app/app.go
  cmd/tempo/app/modules.go
  modules/frontend/combiner/common.go
  modules/frontend/combiner/span_matcher.go
  modules/frontend/combiner/span_matcher_test.go
  modules/frontend/combiner/trace_by_id.go
  modules/frontend/combiner/trace_by_id_v2.go
  modules/frontend/frontend.go
  modules/frontend/frontend_test.go
  modules/frontend/metrics_query_handler.go
  modules/frontend/metrics_query_range_handler.go
  modules/frontend/search_handlers.go
  modules/frontend/search_handlers_test.go
  modules/frontend/tag_handlers.go
  modules/frontend/traceid_handlers.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

no whammies
  modules/livestore/instance_search_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Live store ring/other goodies (#5524)
  cmd/tempo/app/config.go
  cmd/tempo/app/modules.go
  docs/sources/tempo/configuration/manifest.md
  example/docker-compose/ingest-storage/docker-compose.yaml
  example/docker-compose/ingest-storage/prometheus.yaml
  example/docker-compose/ingest-storage/tempo.yaml
  integration/e2e/ingest/config-live-store.yaml
  modules/distributor/config.go
  modules/distributor/distributor.go
  modules/distributor/distributor_test.go
  modules/generator/config.go
  modules/generator/generator.go
  modules/livestore/client/client.go
  modules/livestore/config.go
  modules/livestore/instance.go
  modules/livestore/instance_search_test.go
  modules/livestore/live_store.go
  modules/querier/partition_ring.go
  modules/querier/querier.go
  modules/querier/querier_query_range.go
  modules/querier/querier_test.go
  pkg/docsgen/generate_manifest.go
  pkg/ring/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana

Remove risky unsafe in regexp
  pkg/regexp/regexp.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Implement QueryRange
  modules/livestore/config.go
  modules/livestore/live_store.go
  modules/livestore/query_range.go
  modules/livestore/query_range_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix linting
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add FindByTraceID
  modules/livestore/instance.go
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Cycle through all local blocks
  modules/livestore/instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix error
  modules/livestore/instance.go
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix linting spelling
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Ran manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Reorder operations for efficient
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix newline
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Check fmt
  modules/livestore/live_store.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Refactor dupe errors, skip compaction, fix error handling in search
  modules/ingester/instance.go
  modules/ingester/instance_search.go
  pkg/traceql/engine.go
  tempodb/blockselector/compaction_block_selector.go
  tempodb/encoding/common/block.go
  tempodb/encoding/unsupported/block.go
  tempodb/encoding/unsupported/encoding.go
  tempodb/encoding/unsupported/wal.go
  tempodb/encoding/v2/backend_block.go
  tempodb/encoding/v2/encoding.go
  tempodb/encoding/v2/wal_block.go
  tempodb/encoding/versioned.go
  tempodb/encoding/vparquet2/block.go
  tempodb/encoding/vparquet2/block_iterator.go
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet2/encoding.go
  tempodb/encoding/vparquet2/multiblock_iterator.go
  tempodb/encoding/vparquet2/wal_block.go
  tempodb/encoding/vparquet3/block.go
  tempodb/encoding/vparquet3/block_iterator.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/encoding.go
  tempodb/encoding/vparquet3/multiblock_iterator.go
  tempodb/encoding/vparquet3/wal_block.go
  tempodb/encoding/vparquet4/block_iterator.go
  tempodb/encoding/vparquet4/encoding.go
  tempodb/encoding/vparquet4/multiblock_iterator.go
  tempodb/encoding/vparquet4/wal_block.go
  tempodb/tempodb.go
  tempodb/tempodb_search_test.go
  tempodb/wal/wal.go
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Support exemplars with native-only histograms
  modules/generator/registry/native_histogram.go
  modules/generator/registry/native_histogram_test.go
  modules/generator/storage/config_util.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fixed ingestion
  modules/livestore/live_store.go
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

simplify
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add metrics config back and make boundedwaitgroups use setting
  modules/generator/processor/localblocks/config.go
  modules/generator/processor/localblocks/processor_test.go
  modules/generator/processor/localblocks/query_range.go
  modules/livestore/config.go
  modules/livestore/instance_search.go
  modules/livestore/live_store.go
  modules/livestore/query_range.go
  modules/livestore/query_range_test.go
  modules/querier/config.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov
