Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana, @jdbaldry

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov @mattdurham

Separate demand ticker
  modules/generator/registry/counter.go
  modules/generator/registry/counter_test.go
  modules/generator/registry/gauge.go
  modules/generator/registry/gauge_test.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
  modules/generator/registry/registry_test.go
  modules/generator/registry/test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix lint
  modules/generator/localentitylimiter/local_entity_limiter.go
  modules/generator/localentitylimiter/local_entity_limiter_test.go
  modules/generator/registry/counter_test.go
  modules/generator/registry/gauge_test.go
  modules/generator/registry/histogram_test.go
  modules/generator/registry/native_histogram_test.go
  modules/generator/registry/registry.go
  modules/generator/registry/test_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Add metrics for limits and demand
  modules/generator/cardinality/cardinality.go
  modules/generator/cardinality/cardinality_test.go
  modules/generator/localentitylimiter/local_entity_limiter.go
  modules/generator/localentitylimiter/local_entity_limiter_test.go
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix legacy overrides
  modules/overrides/config_legacy.go
  modules/overrides/config_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix rebase
  modules/generator/registry/counter.go
  modules/generator/registry/histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Support for second pass callback. Fix a few remaining accuracy issues
  pkg/parquetquery/iters.go
  tempodb/encoding/vparquet5/block_traceql_fetch.go
  tempodb/encoding/vparquet5/block_traceql_fetch_test.go
  tempodb/encoding/vparquet5/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Support sampling
  tempodb/encoding/vparquet5/block_traceql_fetch.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Use clear and seq.Iters
  modules/generator/localentitylimiter/local_entity_limiter.go
  modules/generator/localentitylimiter/local_entity_limiter_test.go
  modules/generator/registry/registry.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Use separate `deleteByHash` instead of overloading deleteFunc
  modules/generator/registry/counter.go
  modules/generator/registry/counter_test.go
  modules/generator/registry/gauge.go
  modules/generator/registry/gauge_test.go
  modules/generator/registry/histogram.go
  modules/generator/registry/histogram_test.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
  modules/generator/registry/registry_test.go
  modules/generator/registry/test.go
  modules/generator/registry/test_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

reduce diff on naming
  modules/generator/registry/counter.go
  modules/generator/registry/counter_test.go
  modules/generator/registry/gauge.go
  modules/generator/registry/gauge_test.go
  modules/generator/registry/histogram.go
  modules/generator/registry/histogram_test.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
  modules/generator/registry/test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove unnecessary diff
  modules/generator/registry/gauge_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove unnecessary diff 2
  modules/generator/registry/counter_test.go
  modules/generator/registry/gauge_test.go
  modules/generator/registry/histogram_test.go
  modules/generator/registry/registry.go
  modules/generator/registry/registry_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Fix flaky test
  modules/generator/registry/registry_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

Remove references to Grafana Agent
  docs/sources/tempo/api_docs/_index.md
  docs/sources/tempo/configuration/grafana-agent/_index.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging-example-query.png
  docs/sources/tempo/configuration/grafana-agent/automatic-logging-example-results.png
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.md
  docs/sources/tempo/configuration/grafana-agent/automatic-logging.png
  docs/sources/tempo/configuration/grafana-agent/service-graphs.md
  docs/sources/tempo/configuration/grafana-agent/span-metrics.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.md
  docs/sources/tempo/configuration/grafana-agent/tail-based-sampling.png
  docs/sources/tempo/metrics-from-traces/service_graphs/service-graph-view.md
  docs/sources/tempo/set-up-for-tracing/instrument-send/set-up-collector/grafana-alloy/migrate-alloy.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

it kinda works..?
  pkg/parquetquery/NilKeyIterator.go
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

mewo
  pkg/parquetquery/NilKeyIterator.go
  pkg/parquetquery/iters.go
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.gen.go
  pkg/traceql/ast_validate.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

niliter
  pkg/parquetquery/iters.go
  pkg/parquetquery/nilIter.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

no events and links
  pkg/traceql/ast_validate.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

rebase
  pkg/parquetquery/nilIter.go
  tempodb/encoding/vparquet4/block_search.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

move conditions around - added more test assertions
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

clean up
  pkg/parquetquery/iters.go
  pkg/parquetquery/nilIter.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

select all should print nil for dedicated columns with nil values
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix tests
  pkg/parquetquery/predicates.gen.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

add nil value handling
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  pkg/traceql/ast.go
  pkg/traceql/ast_conditions.go
  pkg/traceql/ast_conditions_test.go
  pkg/traceql/ast_execute.go
  pkg/traceql/ast_stringer.go
  pkg/traceql/enum_operators.go
  pkg/traceql/enum_operators_test.go
  pkg/traceql/expr.y
  pkg/traceql/expr.y.go
  pkg/traceql/parse_test.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix ast condition
  pkg/traceql/ast_conditions.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

lint
  pkg/parquetquery/nilIter.go
  pkg/traceql/ast_validate.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

vparquet2 shakefist
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

testing remove this
  pkg/parquetquery/predicates.gen.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fixed comments
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  tempodb/encoding/vparquet4/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

update test examples
  pkg/traceql/test_examples.yaml
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

lint
  pkg/parquetquery/nilIter.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

remove prints
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

remove not needed params
  pkg/parquetquery/nilIter.go
  tempodb/encoding/vparquet4/block_search.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

add support for vparquet3 and vparquet5
  pkg/parquetquery/nilIter.go
  pkg/parquetquery/predicates.go
  pkg/traceql/ast_validate.go
  pkg/traceql/test_examples.yaml
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet3/block_search.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet5/block_search.go
  tempodb/encoding/vparquet5/block_traceql.go
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/tempodb_test.go
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix nil iterator returning last row and add test
  pkg/parquetquery/nil_iter.go
  pkg/parquetquery/nil_iter_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix test and lint
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

add support for links and events
  pkg/parquetquery/iters.go
  pkg/parquetquery/nil_iter.go
  pkg/parquetquery/predicates.gen.go
  pkg/parquetquery/predicates.go
  pkg/traceql/ast_validate.go
  tempodb/encoding/vparquet3/block_search.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet4/block_search.go
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet5/block_search.go
  tempodb/encoding/vparquet5/block_traceql.go
  tempodb/encoding/vparquet5/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

rebase, lint, changelog, docs
  CHANGELOG.md
  docs/sources/tempo/traceql/construct-traceql-queries.md
  pkg/parquetquery/nil_iter_test.go
  tempodb/encoding/vparquet3/block_traceql_test.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet5/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham, @knylander-grafana

fix test
  tempodb/encoding/vparquet4/block_traceql.go
  tempodb/encoding/vparquet4/block_traceql_test.go
  tempodb/encoding/vparquet5/block_traceql.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham

fix test, add column chunk null check
  pkg/parquetquery/iters.go
  pkg/parquetquery/nil_iter.go
  pkg/parquetquery/nil_iter_test.go
  pkg/parquetquery/predicates.go
  tempodb/encoding/vparquet4/block_traceql_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @mattdurham
