Repository grafana/tempo, changes with the owners that CODEOWNERS names for each.
All owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana, @jdbaldry

CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

* @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/docs/ @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

/.github/backport.yml           @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/update-make-docs.yml   @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-next.yml       @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/.github/website-versioned.yml  @jdbaldry @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/docs.mk                   @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/make-docs                 @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/Makefile                  @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov
/docs/variables.mk              @jdbaldry @knylander-grafana @joe-elliott @mdisibio @mapno @yvrhdn @zalegrala @electron0zero @ie-pham @stoewer @javiermolinar @carles-grafana @ruslan-mikhailov

Remove hasUncommittedOffsets
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Remove unused
  pkg/api/http.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Check return
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Remove X-
  pkg/api/http.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

revert name
  pkg/ingest/writer_client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

drop the scope prefix from the metric labels
  docs/sources/tempo/configuration/usage-tracker.md
  modules/distributor/usage/tracker.go
  modules/distributor/usage/tracker_test.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update compaction provider to work on multiple tenants
  docs/sources/tempo/configuration/manifest.md
  integration/backendscheduler/backendscheduler_test.go
  integration/backendscheduler/config.yaml
  modules/backendscheduler/provider/compaction.go
  modules/backendscheduler/provider/compaction_instance.go
  modules/backendscheduler/provider/compaction_test.go
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add support for scope in cost-attribution usage tracker (#5646)
  CHANGELOG.md
  docs/sources/tempo/configuration/usage-tracker.md
  example/docker-compose/local/tempo.yaml
  modules/distributor/usage/tracker.go
  modules/distributor/usage/tracker_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov, @knylander-grafana

Add support
  modules/livestore/instance.go
  modules/livestore/live_store.go
  modules/livestore/metrics.go
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Remove chatty metric
  modules/livestore/live_store.go
  modules/livestore/metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update tests
  modules/backendscheduler/integration_test.go
  modules/backendscheduler/work/job.go
  modules/backendscheduler/work/work.go
  modules/backendscheduler/work/work_sharded_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Generate config manifest
  docs/sources/tempo/configuration/manifest.md
Owners: @knylander-grafana, @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Update work interface to return errros, update calls
  modules/backendscheduler/backendscheduler.go
  modules/backendscheduler/work/interface.go
  modules/backendscheduler/work/work.go
  modules/backendscheduler/work/work_sharded_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Move cache handling to Work
  modules/backendscheduler/backendscheduler.go
  modules/backendscheduler/backendscheduler_test.go
  modules/backendscheduler/cache.go
  modules/backendscheduler/cache_test.go
  modules/backendscheduler/config.go
  modules/backendscheduler/integration_test.go
  modules/backendscheduler/provider/compaction_test.go
  modules/backendscheduler/provider/retention_test.go
  modules/backendscheduler/work/atomic.go
  modules/backendscheduler/work/atomic_test.go
  modules/backendscheduler/work/config.go
  modules/backendscheduler/work/error.go
  modules/backendscheduler/work/interface.go
  modules/backendscheduler/work/work.go
  modules/backendscheduler/work/work_sharded_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Contine flusing to the backend on local flush error
  modules/backendscheduler/backendscheduler.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Use ingest partition lag from ingest
  modules/livestore/live_store.go
  modules/livestore/metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Some cleanup after self-review
  modules/backendscheduler/config.go
  modules/backendscheduler/provider/retention_test.go
  modules/backendscheduler/work/atomic_test.go
  modules/backendscheduler/work/work.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

checkfmt
  modules/livestore/instance.go
  modules/livestore/partition_reader.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Some cleanup after self-review
  modules/backendscheduler/provider/compaction.go
  modules/backendscheduler/provider/compaction_instance.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

vParquet5: dedicated columns for int values (#5639)
  CHANGELOG.md
  pkg/api/dedicated_columns_to_json_test.go
  pkg/tempopb/tempo.pb.go
  pkg/tempopb/tempo.proto
  pkg/util/test/req.go
  tempodb/backend/block_meta.go
  tempodb/backend/block_meta_test.go
  tempodb/encoding/vparquet5/block_search_tags.go
  tempodb/encoding/vparquet5/block_traceql_test.go
  tempodb/encoding/vparquet5/dedicated_columns.go
  tempodb/encoding/vparquet5/dedicated_columns_test.go
  tempodb/encoding/vparquet5/encoding.go
  tempodb/encoding/vparquet5/schema.go
  tempodb/encoding/vparquet5/test-data/single-tenant/b27b0e53-66a0-4505-afd6-434ae3cd4a10/data.parquet
  tempodb/encoding/vparquet5/test-data/single-tenant/b27b0e53-66a0-4505-afd6-434ae3cd4a10/meta.json
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Experiments
  tempodb/encoding/vparquet5/create.go
  vendor/github.com/parquet-go/parquet-go/schema.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[tools] repalce missing golangci dependency with fork
  tools/go.mod
  tools/go.sum
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Fix tests
  tempodb/blockselector/compaction_block_selector_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fix : lint
  pkg/livetraces/livetraces.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Gracefully handle unsupported block encodings (#5543)
  modules/backendscheduler/backendscheduler_test.go
  modules/ingester/instance.go
  modules/ingester/instance_search.go
  modules/livestore/instance_search.go
  modules/livestore/live_store_background.go
  pkg/traceql/engine.go
  tempodb/blockselector/compaction_block_selector.go
  tempodb/blockselector/compaction_block_selector_test.go
  tempodb/encoding/common/block.go
  tempodb/encoding/unsupported/block.go
  tempodb/encoding/unsupported/encoding.go
  tempodb/encoding/unsupported/wal.go
  tempodb/encoding/v2/backend_block.go
  tempodb/encoding/v2/encoding.go
  tempodb/encoding/v2/wal_block.go
  tempodb/encoding/versioned.go
  tempodb/encoding/vparquet2/block.go
  tempodb/encoding/vparquet2/block_iterator.go
  tempodb/encoding/vparquet2/block_traceql.go
  tempodb/encoding/vparquet2/encoding.go
  tempodb/encoding/vparquet2/multiblock_iterator.go
  tempodb/encoding/vparquet2/wal_block.go
  tempodb/encoding/vparquet3/block.go
  tempodb/encoding/vparquet3/block_iterator.go
  tempodb/encoding/vparquet3/block_traceql.go
  tempodb/encoding/vparquet3/encoding.go
  tempodb/encoding/vparquet3/multiblock_iterator.go
  tempodb/encoding/vparquet3/wal_block.go
  tempodb/encoding/vparquet4/block_iterator.go
  tempodb/encoding/vparquet4/encoding.go
  tempodb/encoding/vparquet4/multiblock_iterator.go
  tempodb/encoding/vparquet4/wal_block.go
  tempodb/encoding/vparquet5/block_iterator.go
  tempodb/encoding/vparquet5/encoding.go
  tempodb/encoding/vparquet5/multiblock_iterator.go
  tempodb/encoding/vparquet5/wal_block.go
  tempodb/tempodb.go
  tempodb/tempodb_search_test.go
  tempodb/wal/wal.go
  tempodb/wal/wal_test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

feat: don't enqueue records to kafka when the context has been cancelled (#5499)
  pkg/ingest/writer_client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

chore: remove duplicated metric to count the number of processed records
  modules/distributor/distributor.go
  pkg/ingest/writer_client.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Undo thing
  pkg/ingest/testkafka/cluster.go
  pkg/ingest/testkafka/message.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

wip
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
  modules/generator/registry/registry.go
  modules/generator/registry/test.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

add countTotalSeries to all metric types
  modules/generator/registry/counter.go
  modules/generator/registry/gauge.go
  modules/generator/registry/histogram.go
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

fixes
  modules/generator/registry/gauge.go
  modules/generator/registry/native_histogram.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

Add tests and move metrics to a nuetral location
  integration/e2e/ingest/live_store_test.go
  modules/livestore/instance.go
  modules/livestore/instance_search_test.go
  modules/livestore/live_store.go
  modules/livestore/live_store_test.go
  modules/livestore/metrics.go
  modules/livestore/metrics_test.go
  modules/livestore/partition_reader.go
  pkg/ingest/metrics.go
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov

[tools] repalce missing golangci dependency with fork (#5653)
  tools/go.mod
  tools/go.sum
Owners: @joe-elliott, @mdisibio, @mapno, @yvrhdn, @zalegrala, @electron0zero, @ie-pham, @stoewer, @javiermolinar, @carles-grafana, @ruslan-mikhailov
